Repository flext-sh/flext-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, isort, mypy, bandit

ruff-format:
  name: âš¡ Ruff Format (PEP8 Strict - 79 chars)
  entry: poetry run ruff format
  language: system
  require_serial: true
  args:
  - --check
  - --diff

ruff-lint:
  name: ğŸ”¥ Ruff Lint (ALL categories)
  entry: poetry run ruff check
  language: system
  require_serial: true
  args:
  - --fix
  - --exit-non-zero-on-fix
  - --line-length=88
  - --target-version=py313
  - --select=ALL
  - --ignore=COM812
  - ISC001
  - D203
  - D213
  - TD003
  - FIX002
  - ERA001
  - PLR0912
  - PLR0913
  - PLR0915
  ...

isort:
  name: ğŸ“¦ Import Sort
  entry: poetry run isort
  language: system
  require_serial: true
  args:
  - --check-only
  - --diff
  - --profile=ruff
  - --line-length=88

mypy:
  name: ğŸ›¡ï¸ MyPy Strict
  entry: poetry run mypy
  language: system
  require_serial: true
  pass_filenames: false
  args:
  - src/
  - tests/
  - --config-file=pyproject.toml
  - --strict
  - --warn-unreachable
  - --warn-unused-ignores
  - --no-implicit-reexport
  - --ignore-missing-imports
  - --show-error-codes
  ...

bandit:
  name: ğŸ”’ Bandit Security
  entry: poetry run bandit
  language: system
  require_serial: true
  pass_filenames: false
  args:
  - -r
  - src/
  - --severity-level=medium
  - --format=txt

chore(workspace): flext-api — land local changes\n\n Counter: 0017\n Base: 0.12.0-dev\n Command: workspace-land-submodules\n Evidence: make workspace-land-submodules
  src/flext_api/__init__.py
  src/flext_api/_constants/api_values.py
  src/flext_api/protocols.py
  src/flext_api/utilities.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore(workspace): flext-api — land local changes\n\n Counter: 0022\n Base: 0.12.0-dev\n Command: workspace-land-submodules\n Evidence: make workspace-land-submodules
  pyproject.toml
Due: none

chore(workspace): flext-api — land local changes\n\n Counter: 0024\n Base: 0.12.0-dev\n Command: workspace-land-submodules\n Evidence: make workspace-land-submodules
  pyproject.toml
Due: none

chore(workspace): flext-api — land local changes\n\n Counter: 0027\n Base: 0.12.0-dev\n Command: workspace-land-submodules\n Evidence: make workspace-land-submodules
  pyproject.toml
Due: none

fix(api): align serializers with api namespace
  examples/01_basic_usage.py
  tests/unit/test_serializers.py
  tests/unit/test_smoke.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fixes
  src/flext_api/_models/client.py
  src/flext_api/_models/request.py
  src/flext_api/_models/response.py
  src/flext_api/_models/storage.py
  src/flext_api/_models/webhook.py
  src/flext_api/_protocols/base_grpc.py
  src/flext_api/_protocols/base_http.py
  src/flext_api/_protocols/base_serialization.py
  src/flext_api/_protocols/base_storage.py
  src/flext_api/_protocols/base_transport.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Fix docs audit code blocks
  docs/README.md
  docs/guides/http-client.md
Due: none

fixes
  examples/01_basic_usage.py
  src/flext_api/__init__.pyi
  src/flext_api/_constants/api_values.py
  src/flext_api/_lazy_exports.py
  src/flext_api/_models/request.py
  src/flext_api/_models/response.py
  src/flext_api/_models/storage.py
  src/flext_api/_models/webhook.py
  src/flext_api/_protocols/_transports_request.py
  src/flext_api/_protocols/base_grpc.py
  src/flext_api/_protocols/base_http.py
  src/flext_api/_protocols/base_serialization.py
  src/flext_api/_protocols/base_storage.py
  src/flext_api/_protocols/base_transport.py
  src/flext_api/_protocols/plugin_manager.py
  src/flext_api/_protocols/plugin_types.py
  src/flext_api/_protocols/transports.py
  src/flext_api/_utilities/api_pydantic.py
  src/flext_api/_utilities/client.py
  src/flext_api/_utilities/client_request.py
  src/flext_api/_utilities/settings_manager.py
  src/flext_api/api.py
  src/flext_api/protocol_impls/_lazy_exports.py
  tests/constants.py
  tests/unit/test_smoke.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

test(flext-api): rewrite to strict behavioral tests (FLEXT patterns, no implementation-detail asserts)
  tests/unit/test_serializers.py
  tests/unit/test_smoke.py
  tests/unit/test_transports_characterization.py
Due: ruff-format, ruff-lint, isort, mypy

refactor(flext-api): land concurrent src — validated green
  src/flext_api/__init__.py
  src/flext_api/_exports_lazy_part_01.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fix(flext-api): rename test class to canonical TestsFlextApiTransportsCharacterization (match module + tests/__init__ re-export)
  tests/unit/test_transports_characterization.py
Due: ruff-format, ruff-lint, isort, mypy

fix(flext-api): remove root typing stub debt
  src/flext_api/_models/request.py
  src/flext_api/_models/response.py
  src/flext_api/base.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fixes
  examples/__init__.py
  tests/unit/test_smoke.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fixes
  src/flext_api/history
  src/flext_api/history.json
Due: none

fixes
  src/flext_api/__version__.py
  src/flext_api/_constants/api.py
  src/flext_api/_constants/api_enums.py
  src/flext_api/_constants/api_values.py
  src/flext_api/_models/client.py
  src/flext_api/_models/request.py
  src/flext_api/_models/response.py
  src/flext_api/_models/storage.py
  src/flext_api/_models/webhook.py
  src/flext_api/_utilities/api_pydantic.py
  src/flext_api/_utilities/client.py
  src/flext_api/_utilities/client_codec.py
  src/flext_api/_utilities/client_request.py
  src/flext_api/_utilities/request_utils.py
  src/flext_api/api.py
  src/flext_api/base.py
  src/flext_api/constants.py
  src/flext_api/models.py
  src/flext_api/protocol_impls/_lazy_exports.py
  src/flext_api/utilities.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fixes
  src/flext_api/__version__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fixes
  examples/__init__.py
  pyproject.toml
  src/flext_api/__init__.py
  src/flext_api/_constants/api.py
  src/flext_api/_constants/api_enums.py
  src/flext_api/_exports.py
  src/flext_api/_exports_lazy_part_01.py
  src/flext_api/constants.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fixes
  examples/__init__.py
  src/flext_api/__init__.py
  src/flext_api/_constants/api_enums.py
  src/flext_api/_exports.py
  src/flext_api/typings.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

refactor: update __all__ type annotations to use t.MutableSequenceOf
  src/flext_api/__version__.py
  src/flext_api/_constants/api.py
  src/flext_api/_constants/api_enums.py
  src/flext_api/_exports.py
  src/flext_api/constants.py
  tests/unit/test_transports_characterization.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

refactor: update type annotations for __all__ and test options
  src/flext_api/__version__.py
  tests/unit/test_transports_characterization.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

refactor: update __all__ type annotations to use list instead of t.MutableSequenceOf
  src/flext_api/_constants/api.py
  src/flext_api/_constants/api_enums.py
  src/flext_api/_exports.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

refactor: update __all__ type annotation to use list instead of t.MutableSequenceOf
  src/flext_api/constants.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore(codegen): inline lazy __init__.py, eliminate _exports.py sidecar
  src/flext_api/__init__.py
  src/flext_api/_exports.py
  src/flext_api/_lazy_exports.py
  src/flext_api/protocol_impls/_lazy_exports.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

refactor: eliminate _exports.py — generator inlines lazy import map + root public objects into __init__ (PEP 562 lazy); clean-import verified, idempotent
  examples/__init__.py
  tests/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

refactor: complete lazy __init__ TYPE_CHECKING re-exports after _exports.py elimination; pyrefly clean, clean-import verified
  src/flext_api/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fixes
  examples/__init__.py
  src/flext_api/__init__.py
  src/flext_api/_constants/__init__.py
  src/flext_api/_models/__init__.py
  src/flext_api/_protocols/__init__.py
  src/flext_api/_typings/__init__.py
  src/flext_api/_utilities/__init__.py
  tests/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fixes
  docs/architecture/decisions/003-protocol-abstraction.md
  docs/guides/http-client.md
  examples/01_basic_usage.py
  examples/README.md
  src/flext_api/__init__.py
  src/flext_api/_config.py
  src/flext_api/_settings.py
  src/flext_api/_utilities/client.py
  src/flext_api/_utilities/client_request.py
  src/flext_api/api.py
  src/flext_api/base.py
  src/flext_api/config/api.yaml
  src/flext_api/settings.py
  tests/base.py
  tests/unit/test_smoke.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

feat(settings): strict layer-0 settings namespaced under settings.Api (ADR-005)
  src/flext_api/__init__.py
  src/flext_api/_settings.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore: update test smoke file for improved clarity and structure
  tests/unit/test_smoke.py
Due: ruff-format, ruff-lint, isort, mypy

fixes
  tests/settings.py
Due: ruff-format, ruff-lint, isort, mypy

fixes
  src/flext_api/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fixes
  src/flext_api/_utilities/client.py
  src/flext_api/api.py
  src/flext_api/base.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

feat(flext-api): deliver client/facade settings contract — strict-green, 93 passed
  src/flext_api/_settings.py
  src/flext_api/api.py
  src/flext_api/base.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

docs(flext-api): add missing future annotations to README code block (MD-003)
  docs/README.md
Due: none

refactor(flext-api): remove unused protocol implementation files
  src/flext_api/protocol_impls/__init__.py
  src/flext_api/protocol_impls/py.typed
  src/flext_api/protocol_impls/rfc.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore(make): drop legacy base.mk copy; canonical flext-infra/base.mk is SSOT [mro-3o9s]
  base.mk
Due: none

test(base): drop fetch_settings override; flext-tests owns it, declare only bootstrap settings type
  tests/base.py
Due: ruff-format, ruff-lint, isort, mypy

fix(examples): rename local storage settings var shadowing namespaced settings singleton
  examples/01_basic_usage.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fix(models): import t and MutableMapping at runtime in storage models so pydantic resolves forward refs
  src/flext_api/_models/storage.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

docs: regenerate project docs portal via flext-infra engine [mro-lo34]
  README.md
  docs/api-reference/README.md
  docs/api-reference/generated/modules/index.md
  docs/api-reference/generated/modules/settings.md
  docs/api-reference/generated/overview.md
  docs/index.md
Due: none

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: tests/
