Repository flext-sh/flext-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, isort, mypy, bandit

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: tests/

merge
  README.md
  docs/README.md
  docs/api-reference/generated/overview.md
  docs/architecture/overview.md
  docs/guides/phase1_implementation_plan.md
  docs/index.md
  pyproject.toml
  src/flext_api/config/api.yaml
Due: none

fix(types): typed settings property override on FlextApi facade [mro-p68a.13]
  src/flext_api/api.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fixes
  LICENSE
  Makefile
  pyproject.toml
Due: none

style(flext-api): normalize imports (I001) and remove duplicate protocol aliases
  src/flext_api/_constants/api_values.py
  src/flext_api/_models/webhook.py
  src/flext_api/_protocols/_transports_request.py
  src/flext_api/_protocols/base_grpc.py
  src/flext_api/_protocols/base_http.py
  src/flext_api/_protocols/base_storage.py
  src/flext_api/_protocols/base_transport.py
  src/flext_api/_protocols/plugin_manager.py
  src/flext_api/_protocols/plugin_types.py
  src/flext_api/_protocols/transports.py
  src/flext_api/_utilities/api_pydantic.py
  src/flext_api/api.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

merge fixes
  src/flext_api/_protocols/base_grpc.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fixes
  src/flext_api/_protocols/base_http.py
  src/flext_api/_protocols/base_serialization.py
  src/flext_api/_protocols/base_storage.py
  src/flext_api/_protocols/base_transport.py
  src/flext_api/_protocols/plugin_manager.py
  src/flext_api/_protocols/plugin_types.py
  src/flext_api/_protocols/serialization.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fix(api): break protocol-shard init re-entrancy for transports (mro-wkii.17.26.12)
  src/flext_api/_protocols/_transports_config.py
  src/flext_api/_protocols/_transports_request.py
  src/flext_api/_protocols/transports.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

refactor fixes
  src/flext_api/_constants/api_values.py
  src/flext_api/_models/storage.py
  src/flext_api/_models/webhook.py
  src/flext_api/_protocols/_transports_config.py
  src/flext_api/_protocols/_transports_request.py
  src/flext_api/_protocols/plugin_manager.py
  src/flext_api/_protocols/transports.py
  src/flext_api/_utilities/api_pydantic.py
  src/flext_api/_utilities/client_codec.py
  src/flext_api/_utilities/client_request.py
  src/flext_api/_utilities/request_utils.py
  src/flext_api/models.py
  src/flext_api/utilities.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fixes
  pyproject.toml
Due: none

test(api): migrate smoke + transport tests to current API (tm matchers, public facades)
  tests/unit/test_smoke.py
  tests/unit/test_transports_characterization.py
Due: ruff-format, ruff-lint, isort, mypy

fix(deps): move flext git sources from project.dependencies to [tool.uv.sources]
  pyproject.toml
Due: none

fix(deps): flext deps by name only; source supplied by consumer/workspace
  pyproject.toml
Due: none

chore(lint): ruff 0.15.22 max — rule codes→names in [tool.ruff.lint].ignore (RUF201)
  pyproject.toml
Due: none

fix(types): explicit annotation on api singleton (mypy has-type)
  src/flext_api/api.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fixes
  AGENTS.md
Due: none

ci(deps): bump actions/setup-python to 6.3.0 (align 0.12.0-dev with main dependabot)
  .github/workflows/ci.yml
Due: none

docs(agents): install canonical AI-HUB managed core (ADR-011) + domain notes
  AGENTS.md
Due: none

fixes
  Makefile
Due: none

chore(baseline): checkpoint WIP for 0.20.0-dev stabilization
  src/flext_api/api.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore(conform): land canonical codegen sync (mro-p68a.35.1)
  .gitignore
  .python-version
  pyproject.toml
Due: none

chore(make): commit generated base.mk + strict custom.mk
  base.mk
  custom.mk
Due: none

chore(lint): zero Ruff lint+format; consistent pyrefly facade suppression
  .gitignore
  pyproject.toml
  src/flext_api/_constants/api_values.py
  src/flext_api/_models/storage.py
  src/flext_api/_models/webhook.py
  src/flext_api/_protocols/_transports_config.py
  src/flext_api/_protocols/_transports_request.py
  src/flext_api/_protocols/plugin_manager.py
  src/flext_api/_protocols/transports.py
  src/flext_api/_utilities/api_pydantic.py
  src/flext_api/api.py
  src/flext_api/models.py
  src/flext_api/utilities.py
  tests/__init__.py
  tests/base.py
  tests/constants.py
  tests/typings.py
  tests/unit/test_serializers.py
  tests/unit/test_smoke.py
  tests/unit/test_transports_characterization.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore(pyproject): regenerate managed tool config from flext-infra SSOT
  pyproject.toml
Due: none

chore(pyrefly): disable facade missing-attribute; honor allow-lint-regression
  pyproject.toml
Due: none

fixes
  api/middleware.md
  conftest.py
  examples/01_basic_usage.py
  examples/README.md
  examples/__init__.py
  tests/__init__.py
  tests/base.py
  tests/constants.py
  tests/models.py
  tests/protocols.py
  tests/settings.py
  tests/typings.py
  tests/unit/test_serializers.py
  tests/unit/test_smoke.py
  tests/unit/test_transports_characterization.py
  tests/utilities.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fixes
  .flext-deps/flext-core
  .flext-deps/flext-web
Due: none

fixes
  base.mk.bak
Due: none

fix(build): regenerate Makefile with valid PYTHON_VERSION selector
  Makefile
Due: none

chore(sync): snapshot de pendencias locais 2026-07-23
  base.mk.bak
Due: none

fixes
  examples/01_basic_usage.py
  examples/README.md
  examples/__init__.py
  tests/__init__.py
  tests/unit/test_transports_characterization.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

ruff fixes
  .envrc
  api/core.md
  api/protocols.md
  api/schemas.md
  api/storage.md
  architecture/c4-model/code.md
  architecture/c4-model/containers.md
  architecture/decisions/002-railway-pattern.md
  custom.mk
  docs/README.md
  docs/architecture/c4-model/containers.md
  docs/architecture/decisions/002-railway-pattern.md
  docs/guides/configuration.md
  docs/guides/development.md
  docs/guides/getting-started.md
  docs/guides/http-client.md
  docs/guides/troubleshooting.md
  examples/01_basic_usage.py
  guides/configuration.md
  guides/development.md
  guides/getting-started.md
  guides/http-client.md
  guides/troubleshooting.md
Due: ruff-format, ruff-lint, isort, mypy, bandit

fixes
  api/core.md
  api/middleware.md
  api/protocols.md
  api/storage.md
  architecture/overview.md
  guides/configuration.md
  guides/development.md
  guides/getting-started.md
  guides/http-client.md
  guides/testing.md
  guides/troubleshooting.md
Due: none

fixes
  api/core.md
  api/middleware.md
  api/protocols.md
  api/schemas.md
  api/storage.md
  architecture/c4-model/code.md
  architecture/decisions/002-railway-pattern.md
  architecture/decisions/003-protocol-abstraction.md
  architecture/overview.md
  docs/README.md
  docs/architecture/c4-model/code.md
  docs/architecture/decisions/002-railway-pattern.md
  docs/architecture/decisions/003-protocol-abstraction.md
  docs/architecture/overview.md
  docs/guides/configuration.md
  docs/guides/development.md
  docs/guides/getting-started.md
  docs/guides/http-client.md
  docs/guides/testing.md
  docs/guides/troubleshooting.md
  docs/testing.md
  examples/README.md
  guides/configuration.md
  guides/development.md
  guides/getting-started.md
  guides/http-client.md
  guides/testing.md
  guides/troubleshooting.md
  testing.md
Due: none

fixes
  docs/architecture/overview.md
Due: none

fixes
  api/core.md
  api/middleware.md
  architecture/decisions/002-railway-pattern.md
  architecture/overview.md
  docs/architecture/decisions/002-railway-pattern.md
  docs/guides/development.md
  docs/guides/troubleshooting.md
  docs/testing.md
  guides/development.md
  guides/troubleshooting.md
  testing.md
Due: none

docs(flext-api): fix markdown/code block languages
  guides/getting-started.md
Due: none

docs(flext-api): fix markdown/code block languages in guides
  docs/guides/getting-started.md
Due: none
