Repository flext-sh/flext-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, isort, mypy, bandit

ruff-format:
  name: âš¡ Ruff Format (PEP8 Strict - 79 chars)
  entry: poetry run ruff format
  language: system
  require_serial: true
  args:
  - --check
  - --diff

ruff-lint:
  name: ğŸ”¥ Ruff Lint (ALL categories)
  entry: poetry run ruff check
  language: system
  require_serial: true
  args:
  - --fix
  - --exit-non-zero-on-fix
  - --line-length=88
  - --target-version=py313
  - --select=ALL
  - --ignore=COM812
  - ISC001
  - D203
  - D213
  - TD003
  - FIX002
  - ERA001
  - PLR0912
  - PLR0913
  - PLR0915
  ...

isort:
  name: ğŸ“¦ Import Sort
  entry: poetry run isort
  language: system
  require_serial: true
  args:
  - --check-only
  - --diff
  - --profile=ruff
  - --line-length=88

mypy:
  name: ğŸ›¡ï¸ MyPy Strict
  entry: poetry run mypy
  language: system
  require_serial: true
  pass_filenames: false
  args:
  - src/
  - tests/
  - --config-file=pyproject.toml
  - --strict
  - --warn-unreachable
  - --warn-unused-ignores
  - --no-implicit-reexport
  - --ignore-missing-imports
  - --show-error-codes
  ...

bandit:
  name: ğŸ”’ Bandit Security
  entry: poetry run bandit
  language: system
  require_serial: true
  pass_filenames: false
  args:
  - -r
  - src/
  - --severity-level=medium
  - --format=txt

refactor: replace inline string constants with c.* references
  src/flext_api/webhook.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore: refactor migration
  docs/pydantic-v2-modernization/audit_pydantic_v2.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  7d7db6c4c5e025d84c982b90906fef652bff3ba6
Due: none

chore: refactor migration
  tests/models.py
Due: ruff-format, ruff-lint, isort, mypy

Notes added by 'git notes add'
  859a6c169b1cfc02aa87cab720d2aa763aece8e9
Due: none

Notes added by 'git notes add'
  6015a60357fc5d0388f8a5338650245356916c93
Due: none

chore: refactor migration
  tests/__init__.py
  tests/unit/__init__.py
Due: ruff-format, ruff-lint, isort, mypy

Notes added by 'git notes add'
  4db2a426f5326e98406e2f70db143e8987c7c07d
Due: none

chore: refactor migration
  tests/constants.py
  tests/protocols.py
  tests/typings.py
  tests/utilities.py
Due: ruff-format, ruff-lint, isort, mypy

Notes added by 'git notes add'
  dbbc19491673c6f6ce12d6b4eb1a44cce714758a
Due: none

chore: refactor migration
  tests/__init__.py
Due: ruff-format, ruff-lint, isort, mypy

chore: refactor migration
  src/flext_api/models.py
  src/flext_api/schemas/_shared.py
  src/flext_api/schemas/asyncapi.py
  src/flext_api/schemas/openapi.py
  src/flext_api/storage.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  36fecf8cdc5ac781b6fe11645662bb4379a230b8
Due: none

chore: refactor migration
  src/flext_api/schemas/jsonschema.py
  src/flext_api/settings_manager.py
  tests/constants.py
  tests/models.py
  tests/protocols.py
  tests/typings.py
  tests/utilities.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  c628acf25e57cc7b530314292047f656dd4d7302
Due: none

Notes added by 'git notes add'
  dda93dfd3c2229b8539bb9198a88a7d478d0bef4
Due: none

chore: refactor migration
  tests/constants.py
  tests/models.py
  tests/protocols.py
  tests/typings.py
  tests/unit/test_serializers.py
  tests/unit/test_smoke.py
  tests/utilities.py
Due: ruff-format, ruff-lint, isort, mypy

chore: refactor migration
  .gitignore
  src/flext_api/adapters.py
  src/flext_api/api.py
  src/flext_api/client.py
  src/flext_api/constants.py
  src/flext_api/models.py
  src/flext_api/plugins.py
  src/flext_api/protocol_impls/base.py
  src/flext_api/protocol_impls/http.py
  src/flext_api/protocol_impls/http_client.py
  src/flext_api/protocol_impls/logger.py
  src/flext_api/protocol_impls/rfc.py
  src/flext_api/protocol_impls/sse.py
  src/flext_api/protocol_impls/storage_backend.py
  src/flext_api/protocol_impls/websocket.py
  src/flext_api/protocols.py
  src/flext_api/registry.py
  src/flext_api/schemas/_shared.py
  src/flext_api/schemas/asyncapi.py
  src/flext_api/schemas/jsonschema.py
  src/flext_api/schemas/openapi.py
  src/flext_api/serializers.py
  src/flext_api/server.py
  src/flext_api/server_factory.py
  src/flext_api/settings.py
  src/flext_api/settings_manager.py
  src/flext_api/storage.py
  src/flext_api/transports.py
  src/flext_api/typings.py
  src/flext_api/utilities.py
  src/flext_api/webhook.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  19b205fdc67b919917f71fafd869d2e0820a422f
Due: none

chore: refactor migration
  Makefile
  src/flext_api/schemas/jsonschema.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  4dcb31bcb87b4aa626312d5c119459e28c80c7f6
Due: none

Notes added by 'git notes add'
  db61c7e8c815a4b7255f9f3f1c6fb4b962aa0944
Due: none

chore: refactor migration
  src/flext_api/storage.py
  tests/unit/test_serializers.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore: refactor migration
  src/flext_api/schemas/jsonschema.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  665543ad30f5581ace29e6d9308c654044c341cf
Due: none

chore: refactor migration
  src/flext_api/schemas/_shared.py
  src/flext_api/schemas/jsonschema.py
  src/flext_api/storage.py
  src/flext_api/webhook.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  6300a558810212255fb44e3d40110673325b02d6
Due: none

chore: refactor migration
  src/flext_api/api.py
  src/flext_api/client.py
  src/flext_api/constants.py
  src/flext_api/models.py
  src/flext_api/plugins.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  005a8d08b81a3c6455a33bcd31759f6b715992eb
Due: none

chore: refactor migration
  src/flext_api/adapters.py
  src/flext_api/protocol_impls/storage_backend.py
  src/flext_api/registry.py
  src/flext_api/settings_manager.py
  src/flext_api/storage.py
  src/flext_api/webhook.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  7daf47bec3c0a8a81a410d793a911f2042beb401
Due: none

Notes added by 'git notes add'
  8779b3b9d6f87189fce24942c7b382b93ce1c9d6
Due: none

chore: refactor migration
  src/flext_api/schemas/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  f65d4b20ec66fd977b45b32cc4fe7edabf4d409b
Due: none

chore: refactor migration
  src/flext_api/__init__.py
  src/flext_api/schemas/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fix: codegen alias resolution + cycle-breaking propagation
  src/flext_api/__init__.py
  src/flext_api/api.py
  src/flext_api/client.py
  src/flext_api/constants.py
  src/flext_api/protocol_impls/http_client.py
  src/flext_api/protocol_impls/rfc.py
  src/flext_api/protocol_impls/sse.py
  src/flext_api/protocol_impls/websocket.py
  src/flext_api/protocols.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore: refactor migration
  src/flext_api/api.py
  src/flext_api/client.py
  src/flext_api/protocol_impls/http_client.py
  src/flext_api/protocol_impls/rfc.py
  src/flext_api/protocol_impls/sse.py
  src/flext_api/protocol_impls/websocket.py
  src/flext_api/protocols.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  917d77ad4da9c115c9689cc0b525e6cfa3fe0c95
Due: none

refactor: deduplicate MRO passthroughs — use canonical parent constants via MRO
  src/flext_api/constants.py
  src/flext_api/models.py
  src/flext_api/protocol_impls/http.py
  src/flext_api/settings.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fix: codegen first-seen-wins export scan + cycle-breaking
  src/flext_api/protocol_impls/http.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: tests/
