Repository flext-sh/flext-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, isort, mypy, bandit

ruff-format:
  name: âš¡ Ruff Format (PEP8 Strict - 79 chars)
  entry: poetry run ruff format
  language: system
  require_serial: true
  args:
  - --check
  - --diff

ruff-lint:
  name: ğŸ”¥ Ruff Lint (ALL categories)
  entry: poetry run ruff check
  language: system
  require_serial: true
  args:
  - --fix
  - --exit-non-zero-on-fix
  - --line-length=88
  - --target-version=py313
  - --select=ALL
  - --ignore=COM812
  - ISC001
  - D203
  - D213
  - TD003
  - FIX002
  - ERA001
  - PLR0912
  - PLR0913
  - PLR0915
  ...

isort:
  name: ğŸ“¦ Import Sort
  entry: poetry run isort
  language: system
  require_serial: true
  args:
  - --check-only
  - --diff
  - --profile=ruff
  - --line-length=88

mypy:
  name: ğŸ›¡ï¸ MyPy Strict
  entry: poetry run mypy
  language: system
  require_serial: true
  pass_filenames: false
  args:
  - src/
  - tests/
  - --config-file=pyproject.toml
  - --strict
  - --warn-unreachable
  - --warn-unused-ignores
  - --no-implicit-reexport
  - --ignore-missing-imports
  - --show-error-codes
  ...

bandit:
  name: ğŸ”’ Bandit Security
  entry: poetry run bandit
  language: system
  require_serial: true
  pass_filenames: false
  args:
  - -r
  - src/
  - --severity-level=medium
  - --format=txt

fix(examples): add the missing trailing comma in the lazy import map
  examples/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Revert "fix(examples): add the missing trailing comma in the lazy import map"
  examples/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore(deps): absorb the converged infra (comma renderer + isort section) and regenerate
  .envrc
  .github/workflows/ci.yml
  .gitignore
  Makefile
  bin/mise-lock-transaction.py
  docs/docs_config.json
  examples/__init__.py
  pyproject.toml
  src/flext_api/__init__.py
  tests/unit/__init__.py
  uv.lock
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore(relock): settle lazy-init publish ordering in the package facade
  src/flext_api/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore(beads): tracker sync
  .beads/config.yaml
  .beads/metadata.json
Due: none

fix(lint): cure no-self-use and line-too-long preview findings
  examples/01_basic_usage.py
  src/flext_api/_protocols/plugin_types.py
  src/flext_api/_settings.py
  src/flext_api/_utilities/serializers.py
  src/flext_api/services/_services/base_request.py
  tests/unit/model_contract.py
  tests/unit/test_async_client.py
  tests/unit/test_serializers.py
  tests/unit/test_smoke.py
  tests/unit/test_transports_characterization.py
  tests/unit/test_transports_facade_httpx.py
  tests/unit/test_utilities_transport.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fix(lint): move typing-only first-party imports into TYPE_CHECKING blocks
  src/flext_api/_models/client.py
  src/flext_api/_models/storage.py
  src/flext_api/_models/webhook.py
  src/flext_api/_utilities/transport.py
  src/flext_api/models.py
  src/flext_api/services/async_client.py
  src/flext_api/services/client.py
  src/flext_api/utilities.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fix(lint): use keyword boolean in Result construction (FBT003)
  src/flext_api/_utilities/settings_manager.py
  src/flext_api/api.py
  src/flext_api/services/base_client.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fix(lint): bind runtime type anchors in pydantic model shards (TC001)
  src/flext_api/_models/client.py
  src/flext_api/_models/storage.py
  src/flext_api/_models/webhook.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fix(lint): rename example module and drop redundant timeout parameter (N999, PLR0913, PLR0914)
  examples/basic_usage.py
  src/flext_api/_utilities/request_utils.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

style: collapse extra blank line before TYPE_CHECKING block
  src/flext_api/_utilities/transport.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore(gen): regenerate lazy-init package facade to the generator fixed point
  src/flext_api/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore(flext-api): converge with the fleet bootstrap line (relock + gen fixed point)
  .envrc
  .mise.toml
  Makefile
  bin/mise-lock-transaction.py
  mise.lock
  pyproject.toml
  src/flext_api/__init__.py
  uv.lock
Due: ruff-format, ruff-lint, isort, mypy, bandit

refactor(api): delete dead SettingsManager global-state config store and ClientConfig (flext-se466)
  config/rules/mod/sed.yaml
  src/flext_api/_constants/api_values.py
  src/flext_api/_models/__init__.py
  src/flext_api/_models/client.py
  src/flext_api/_utilities/__init__.py
  src/flext_api/_utilities/settings_manager.py
  src/flext_api/models.py
  src/flext_api/typings.py
  src/flext_api/utilities.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore(deps): roll flext-core past 4994ddc266 — restores EnforcementBeartypeSource.tag
  uv.lock
Due: none

chore(infra): propagate the workspace flext-infra
  .envrc
  .github/workflows/ci.yml
  .gitignore
  .markdownlintignore
  .prettierignore
  Makefile
  bin/mise-lock-converge.py
  bin/mise-lock-transaction.py
  pyproject.toml
  uv.lock
Due: ruff-format, ruff-lint, isort, mypy, bandit

fix(deps): restore the 0.12.0-dev line sources dropped by the 0.20.0-dev integrate merge (flext-cx023)
  pyproject.toml
  src/flext_api/config/api.yaml
Due: none

fix(deps): relock member git deps onto the 0.12.0-dev integration line — the 0.20.0-dev lane identity retired with the integration merge (val20261004T1610)
  pyproject.toml
Due: none

chore(deps): relock onto the 0.12.0-dev member tips through make upg (flext-cx023)
  .github/workflows/ci.yml
  Makefile
  bin/mise
  bin/mise.cmd
  docs/api-reference/generated/modules/api.md
  docs/api-reference/generated/modules/base.md
  docs/api-reference/generated/modules/cli.md
  docs/api-reference/generated/modules/constants.md
  docs/api-reference/generated/modules/index.md
  docs/api-reference/generated/modules/models.md
  docs/api-reference/generated/modules/protocols.md
  docs/api-reference/generated/modules/typings.md
  docs/api-reference/generated/modules/utilities.md
  docs/api-reference/generated/overview.md
  docs/api-reference/generated/public-api.md
  docs/docs_config.json
  docs/guides/README.md
  mise.lock
  mise.version
  uv.lock
Due: none

chore(deps+project): roll flext-infra and converge projections
  .github/workflows/ci.yml
  Makefile
  docs/api-reference/generated/modules/api.md
  docs/api-reference/generated/modules/base.md
  docs/api-reference/generated/modules/cli.md
  docs/api-reference/generated/modules/constants.md
  docs/api-reference/generated/modules/index.md
  docs/api-reference/generated/modules/models.md
  docs/api-reference/generated/modules/protocols.md
  docs/api-reference/generated/modules/typings.md
  docs/api-reference/generated/modules/utilities.md
  docs/api-reference/generated/overview.md
  docs/api-reference/generated/public-api.md
  docs/docs_config.json
  docs/guides/README.md
  uv.lock
Due: none

fix(typings): bind the API type facade once
  pyproject.toml
  src/flext_api/typings.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fix(typings): derive the type facade by name and keep the web letters
  src/flext_api/_models/request.py
  src/flext_api/typings.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore(deps,config): roll onto the latest infra tip — mypy suspensions active
  .envrc
  .mise.toml
  .mise/locks/npm-ast-grep-cli/0.45.3~7a027ead/aube-lock.yaml
  .mise/locks/npm-ast-grep-cli/0.45.3~7a027ead/package.json
  .mise/locks/npm-prettier/3.5.3/aube-lock.yaml
  .mise/locks/npm-prettier/3.5.3/package.json
  Makefile
  bin/mise-lock-converge.py
  bin/mise-lock-transaction.py
  examples/__init__.py
  mise.lock
  pyproject.toml
  src/flext_api/__init__.py
  src/flext_api/_constants/__init__.py
  src/flext_api/_models/__init__.py
  src/flext_api/_models/storage.py
  src/flext_api/_models/webhook.py
  src/flext_api/_protocols/__init__.py
  src/flext_api/_typings/__init__.py
  src/flext_api/_utilities/__init__.py
  src/flext_api/services/__init__.py
  src/flext_api/services/_services/__init__.py
  tests/__init__.py
  tests/unit/__init__.py
  uv.lock
Due: ruff-format, ruff-lint, isort, mypy, bandit

fix(services): derive the service base by name (flext-nhzjq, parked on flext-mfk7s)
  src/flext_api/base.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore(gen): track FlextService as the runtime-evaluated base after the name derive
  pyproject.toml
Due: none

chore(deps,config): roll onto the cured core and the facade-rebind scope
  .envrc
  Makefile
  bin/mise-lock-converge.py
  pyproject.toml
  uv.lock
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore(deps,config): roll the informative lint protocol (#1619) and the fleet tip
  .github/workflows/ci.yml
  Makefile
  uv.lock
Due: none

wip: preserve lane WIP before worktree retirement sweep 20261005 (merge-admin)
  .mise.toml
  Makefile
  bin/mise-lock-transaction.py
  mise.lock
  uv.lock
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore(deps,config): roll the fleet tip — informative gates and TC suppression projected
  .github/workflows/ci.yml
  Makefile
  bin/mise-lock-converge.py
  pyproject.toml
  uv.lock
Due: ruff-format, ruff-lint, isort, mypy, bandit

wip(unify): preserve worktree dirty state 20261005 (chore/bun-relock-20261005)
  .envrc
  .mise.toml
  .mise/locks/npm-ast-grep-cli/0.45.3~7a027ead/aube-lock.yaml
  .mise/locks/npm-ast-grep-cli/0.45.3~7a027ead/package.json
  .mise/locks/npm-prettier/3.5.3/aube-lock.yaml
  .mise/locks/npm-prettier/3.5.3/package.json
  Makefile
  bin/mise-lock-converge.py
  bin/mise-lock-transaction.py
  examples/__init__.py
  mise.lock
  pyproject.toml
  src/flext_api/__init__.py
  src/flext_api/_constants/__init__.py
  src/flext_api/_models/__init__.py
  src/flext_api/_protocols/__init__.py
  src/flext_api/_typings/__init__.py
  src/flext_api/_utilities/__init__.py
  src/flext_api/services/__init__.py
  src/flext_api/services/_services/__init__.py
  tests/__init__.py
  tests/unit/__init__.py
  uv.lock
Due: ruff-format, ruff-lint, isort, mypy, bandit

wip(unify): preserve worktree dirty state 20261005 (fix/api-service-base-name-derive)
  src/flext_api/base.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

wip(preserve): api-cx023 detached test state (unification sweep 20261006)
  tests/unit/test_transports_facade_httpx.py
Due: ruff-format, ruff-lint, isort, mypy

chore(sweep): apply mod codemod repairs to api namespace layout (S4 20261005)
  src/flext_api/_config.py
  src/flext_api/_models/_api_namespace.py
  src/flext_api/typings.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fixes
  .agents/aihub-hooks/antigravity-preinvocation.py
  .claude/aihub-hooks/claude-sessionstart.py
  .claude/aihub-hooks/claude-subagentstart.py
  .claude/aihub-hooks/claude-userpromptsubmit.py
  .cursor/aihub-hooks/cursor-sessionstart.py
  bin/mise-lock-converge.py
  bin/mise-lock-transaction.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fixes
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  bin/mise-lock-converge.py
  bin/mise-lock-transaction.py
  pyproject.toml
Due: ruff-format, ruff-lint, isort, mypy, bandit

fixes
  src/flext_api/_config.py
  src/flext_api/_models/_api_namespace.py
  src/flext_api/typings.py
  tests/unit/test_transports_facade_httpx.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fixes
  bin/mise-lock-converge.py
  bin/mise-lock-transaction.py
  src/flext_api/_config.py
  src/flext_api/_models/_api_namespace.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fixes
  bin/mise-lock-converge.py
  bin/mise-lock-transaction.py
  tests/unit/test_transports_facade_httpx.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: tests/
