Repository flext-sh/flext-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, isort, mypy, bandit

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: tests/

Notes added by 'git notes add'
  f6/edbdcf7e521b6d0dda7b66d81dbb4800d8bba2
Due: none

chore: refactor migration
  .gitignore
  src/flext_api/schemas/asyncapi.py
  src/flext_api/schemas/openapi.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore: refactor migration
  src/flext_api/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  27/50c62ddfa4260f56c6d2eb572d5644db2ae372
Due: none

chore: refactor migration
  src/flext_api/__init__.py
  src/flext_api/_protocols/__init__.py
  src/flext_api/_utilities/__init__.py
  src/flext_api/protocol_impls/__init__.py
  src/flext_api/schemas/__init__.py
  src/flext_api/schemas/asyncapi.py
  src/flext_api/schemas/openapi.py
  tests/__init__.py
  tests/unit/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  4f/fbf77ec04037ff8274a7e3b920fcb18e5f2b85
Due: none

chore: refactor migration
  base.mk
Due: none

Notes added by 'git notes add'
  16/d7c04fb77ccb7cacaef47245294d2370509879
Due: none

chore: refactor migration
  src/flext_api/__init__.py
  src/flext_api/_protocols/__init__.py
  src/flext_api/_utilities/__init__.py
  src/flext_api/protocol_impls/__init__.py
  src/flext_api/schemas/__init__.py
  tests/__init__.py
  tests/unit/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  3b/d7375769dfa693c8d8c4892260a6da7267b954
Due: none

chore: refactor migration
  pyproject.toml
  src/flext_api/__init__.py
  src/flext_api/_protocols/__init__.py
  src/flext_api/_utilities/__init__.py
  src/flext_api/protocol_impls/__init__.py
  src/flext_api/schemas/__init__.py
  tests/__init__.py
  tests/unit/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  da/539b22f5bff13d3739eb9c9ca3146db3d24e32
Due: none

chore: refactor migration
  pyproject.toml
  src/flext_api/__init__.py
  tests/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  1a/c2fa1c10ec26924ef988b8b96ec6f467b12780
Due: none

Notes added by 'git notes add'
  e1/856f95efb32c66f739e27eb9c12f9ba179b74d
Due: none

Notes added by 'git notes add'
  43/669ab0edb15be4edd2a3d6bd1290560f0513b2
Due: none

Notes added by 'git notes add'
  14/cdc01cffe356a6218dd90ec7a5c40c3afcadd1
Due: none

chore: refactor migration
  pyproject.toml
  src/flext_api/__init__.py
  src/flext_api/_protocols/__init__.py
  src/flext_api/_utilities/__init__.py
  src/flext_api/_utilities/storage.py
  src/flext_api/protocol_impls/__init__.py
  src/flext_api/schemas/__init__.py
  src/flext_api/server.py
  tests/__init__.py
  tests/unit/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  3e/3dc173b5b3c2cf9489e82f0665461828a10783
Due: none

Notes added by 'git notes add'
  ed/756f15073637a1eb63c84ea6171a2f3fa9be41
Due: none

chore: refactor migration
  tests/unit/__init__.py
Due: ruff-format, ruff-lint, isort, mypy

Notes added by 'git notes add'
  b4/ae36db1b9a809284cada277f229ab434274fa0
Due: none

Notes added by 'git notes add'
  88/7de5342920b1cf81dd4d6b9911084ca9292361
Due: none

chore: refactor migration
  tests/constants.py
  tests/models.py
  tests/protocols.py
  tests/typings.py
  tests/utilities.py
Due: ruff-format, ruff-lint, isort, mypy

Notes added by 'git notes add'
  34/7df2de0d035f454a6afebf1e6b5ef917e6b475
Due: none

Notes added by 'git notes add'
  38/e2acecbf57369d8465db2e0f7e4fe839a7bb4e
Due: none

Notes added by 'git notes add'
  e2/184a7c52e840073664df2c0ce050fcad54a6f3
Due: none

chore: refactor migration
  src/flext_api/_protocols/transports.py
  src/flext_api/_utilities/adapters.py
  src/flext_api/_utilities/client.py
  src/flext_api/_utilities/serializers.py
  src/flext_api/_utilities/settings_manager.py
  src/flext_api/_utilities/storage.py
  src/flext_api/_utilities/webhook.py
  src/flext_api/api.py
  src/flext_api/protocol_impls/http.py
  src/flext_api/protocol_impls/http_client.py
  src/flext_api/protocol_impls/logger.py
  src/flext_api/protocol_impls/rfc.py
  src/flext_api/protocol_impls/sse.py
  src/flext_api/protocol_impls/storage_backend.py
  src/flext_api/protocol_impls/websocket.py
  src/flext_api/protocols.py
  src/flext_api/schemas/_shared.py
  src/flext_api/schemas/asyncapi.py
  src/flext_api/schemas/jsonschema.py
  src/flext_api/schemas/openapi.py
  src/flext_api/server.py
  src/flext_api/settings.py
  src/flext_api/typings.py
  src/flext_api/utilities.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore: refactor migration
  pyproject.toml
  src/flext_api/__init__.py
  src/flext_api/_protocols/__init__.py
  src/flext_api/_protocols/plugins.py
  src/flext_api/_protocols/transports.py
  src/flext_api/_utilities/__init__.py
  src/flext_api/_utilities/adapters.py
  src/flext_api/_utilities/client.py
  src/flext_api/_utilities/registry.py
  src/flext_api/_utilities/serializers.py
  src/flext_api/_utilities/server_factory.py
  src/flext_api/_utilities/settings_manager.py
  src/flext_api/_utilities/storage.py
  src/flext_api/_utilities/webhook.py
  src/flext_api/api.py
  src/flext_api/models.py
  src/flext_api/protocol_impls/__init__.py
  src/flext_api/protocol_impls/base.py
  src/flext_api/protocol_impls/http.py
  src/flext_api/protocol_impls/http_client.py
  src/flext_api/protocol_impls/logger.py
  src/flext_api/protocol_impls/rfc.py
  src/flext_api/protocol_impls/sse.py
  src/flext_api/protocol_impls/storage_backend.py
  src/flext_api/protocol_impls/websocket.py
  src/flext_api/protocols.py
  src/flext_api/schemas/__init__.py
  src/flext_api/schemas/_shared.py
  src/flext_api/schemas/asyncapi.py
  src/flext_api/schemas/jsonschema.py
  src/flext_api/schemas/openapi.py
  src/flext_api/server.py
  src/flext_api/typings.py
  src/flext_api/utilities.py
  tests/__init__.py
  tests/unit/__init__.py
  tests/unit/test_smoke.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  e9/2a7707f90b8c1a45445e89559ff083b6f9cd40
Due: none

chore: refactor migration
  examples/01_basic_usage.py
  src/flext_api/__version__.py
  src/flext_api/_protocols/plugins.py
  src/flext_api/_utilities/registry.py
  src/flext_api/_utilities/settings_manager.py
  src/flext_api/_utilities/storage.py
  src/flext_api/_utilities/webhook.py
  src/flext_api/api.py
  src/flext_api/constants.py
  src/flext_api/models.py
  src/flext_api/protocol_impls/base.py
  src/flext_api/protocol_impls/http.py
  src/flext_api/protocol_impls/rfc.py
  src/flext_api/protocol_impls/sse.py
  src/flext_api/protocol_impls/storage_backend.py
  src/flext_api/protocol_impls/websocket.py
  src/flext_api/schemas/_shared.py
  src/flext_api/schemas/asyncapi.py
  src/flext_api/schemas/jsonschema.py
  src/flext_api/schemas/openapi.py
  src/flext_api/settings.py
  src/flext_api/typings.py
  src/flext_api/utilities.py
  tests/unit/test_smoke.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  73/2f920a463c1f1e235a6a63ef96655a45120e57
Due: none

Notes added by 'git notes add'
  89/efab31eb4c7524e2353f921fab188834e2fb62
Due: none

chore: refactor migration
  src/flext_api/__version__.py
  src/flext_api/_utilities/webhook.py
  src/flext_api/constants.py
  src/flext_api/protocol_impls/storage_backend.py
Due: ruff-format, ruff-lint, isort, mypy, bandit
