Repository flext-sh/flext-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, isort, mypy, bandit

ruff-format:
  name: âš¡ Ruff Format (PEP8 Strict - 79 chars)
  entry: poetry run ruff format
  language: system
  require_serial: true
  args:
  - --check
  - --diff

ruff-lint:
  name: ğŸ”¥ Ruff Lint (ALL categories)
  entry: poetry run ruff check
  language: system
  require_serial: true
  args:
  - --fix
  - --exit-non-zero-on-fix
  - --line-length=88
  - --target-version=py313
  - --select=ALL
  - --ignore=COM812
  - ISC001
  - D203
  - D213
  - TD003
  - FIX002
  - ERA001
  - PLR0912
  - PLR0913
  - PLR0915
  ...

isort:
  name: ğŸ“¦ Import Sort
  entry: poetry run isort
  language: system
  require_serial: true
  args:
  - --check-only
  - --diff
  - --profile=ruff
  - --line-length=88

mypy:
  name: ğŸ›¡ï¸ MyPy Strict
  entry: poetry run mypy
  language: system
  require_serial: true
  pass_filenames: false
  args:
  - src/
  - tests/
  - --config-file=pyproject.toml
  - --strict
  - --warn-unreachable
  - --warn-unused-ignores
  - --no-implicit-reexport
  - --ignore-missing-imports
  - --show-error-codes
  ...

bandit:
  name: ğŸ”’ Bandit Security
  entry: poetry run bandit
  language: system
  require_serial: true
  pass_filenames: false
  args:
  - -r
  - src/
  - --severity-level=medium
  - --format=txt

0.9.0
  src/flext_api/middleware.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

0.9.0
  src/flext_api/__version__.py
  src/flext_api/protocol_impls/http_client.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

0.9.0
  README.md
  TRANSFORMATION_PLAN.md
  docs/ADAPTERS.md
  docs/SERIALIZATION.md
  src/flext_api/__init__.py
  src/flext_api/api.py
  src/flext_api/config.py
  src/flext_api/middleware.py
  src/flext_api/models.py
  src/flext_api/protocol_impls/http_client.py
  src/flext_api/protocol_impls/logger.py
  src/flext_api/protocol_impls/storage_backend.py
  src/flext_api/utilities.py
  tests/unit/client.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

feat: add comprehensive cruft patterns to .gitignore
  .gitignore
Due: none

0.9.0
  tests/unit/test_middleware_simple.py
  tests/unit/test_models_focused.py
  tests/unit/test_server_webhook_simple.py
Due: ruff-format, ruff-lint, isort, mypy

0.9.0
  src/flext_api/adapters.py
  src/flext_api/middleware.py
  src/flext_api/protocol_impls/sse.py
  src/flext_api/utilities.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

0.9.0
  examples/01_basic_usage.py
  pyproject.toml
  src/flext_api/__init__.py
  src/flext_api/adapters.py
  src/flext_api/api.py
  src/flext_api/client.py
  src/flext_api/config.py
  src/flext_api/models.py
  src/flext_api/schemas/asyncapi.py
  src/flext_api/server.py
  src/flext_api/typings.py
  src/flext_api/webhook.py
  src/flext_tests/__init__.py
  src/flext_tests/domains.py
  src/flext_tests/matchers.py
  src/flext_tests/py.typed
  src/flext_tests/utilities.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

0.9.0
  src/flext_api/adapters.py
  src/flext_api/client.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

0.9.0
  src/flext_api/adapters.py
  src/flext_api/client.py
  src/flext_api/middleware.py
  src/flext_api/plugins.py
  src/flext_api/protocol_impls/graphql.py
  src/flext_api/protocol_impls/http.py
  src/flext_api/protocol_impls/http_client.py
  src/flext_api/protocol_impls/logger.py
  src/flext_api/protocol_impls/storage_backend.py
  src/flext_api/protocol_impls/websocket.py
  src/flext_api/protocol_stubs/grpc_stub.py
  src/flext_api/protocol_stubs/protobuf_stub.py
  src/flext_api/registry.py
  src/flext_api/serializers.py
  src/flext_api/server.py
  src/flext_api/storage.py
  src/flext_api/transports.py
  src/flext_api/webhook.py
  tests/unit/test_client.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

0.9.0
  src/flext_api/utilities.py
  tests/unit/test_utilities.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

0.9.0
  src/flext_api/client.py
  src/flext_tests/matchers.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

0.9.0
  docs/architecture/overview.md
  docs/guides/http-client.md
  src/flext_api/plugins.py
  src/flext_tests/matchers.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

0.9.0
  docs-new/api-reference/core.md
  docs-new/guides/getting-started.md
  docs/api/core.md
  docs/architecture/overview.md
  docs/guides/configuration.md
  docs/guides/getting-started.md
  src/flext_api/client.py
  src/flext_api/config.py
  src/flext_api/constants.py
  src/flext_api/handlers.py
  src/flext_api/serializers.py
  src/flext_api/utilities.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

0.9.0
  src/flext_api/client.py
  src/flext_api/constants.py
  src/flext_api/middleware.py
  src/flext_api/models.py
  src/flext_api/serializers.py
  src/flext_api/utilities.py
  src/flext_tests/matchers.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

0.9.0
  Makefile.build
  examples/README.md
  poetry.lock
  pyproject.toml
  src/flext_tests/__init__.py
  src/flext_tests/domains.py
  src/flext_tests/matchers.py
  src/flext_tests/py.typed
  src/flext_tests/utilities.py
Due: ruff-format, ruff-lint, isort, mypy

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: tests/
