Repository flext-sh/flext-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, isort, mypy, bandit

ruff-format:
  name: âš¡ Ruff Format (PEP8 Strict - 79 chars)
  entry: poetry run ruff format
  language: system
  require_serial: true
  args:
  - --check
  - --diff

ruff-lint:
  name: ğŸ”¥ Ruff Lint (ALL categories)
  entry: poetry run ruff check
  language: system
  require_serial: true
  args:
  - --fix
  - --exit-non-zero-on-fix
  - --line-length=88
  - --target-version=py313
  - --select=ALL
  - --ignore=COM812
  - ISC001
  - D203
  - D213
  - TD003
  - FIX002
  - ERA001
  - PLR0912
  - PLR0913
  - PLR0915
  ...

isort:
  name: ğŸ“¦ Import Sort
  entry: poetry run isort
  language: system
  require_serial: true
  args:
  - --check-only
  - --diff
  - --profile=ruff
  - --line-length=88

mypy:
  name: ğŸ›¡ï¸ MyPy Strict
  entry: poetry run mypy
  language: system
  require_serial: true
  pass_filenames: false
  args:
  - src/
  - tests/
  - --config-file=pyproject.toml
  - --strict
  - --warn-unreachable
  - --warn-unused-ignores
  - --no-implicit-reexport
  - --ignore-missing-imports
  - --show-error-codes
  ...

bandit:
  name: ğŸ”’ Bandit Security
  entry: poetry run bandit
  language: system
  require_serial: true
  pass_filenames: false
  args:
  - -r
  - src/
  - --severity-level=medium
  - --format=txt

chore(generated): align init-module lint policy
  pyproject.toml
Due: none

fixes
  Makefile
Due: none

chore(generated): project merged tooling contract
  .github/workflows/docs.yml
  Makefile
  pyproject.toml
Due: none

fix(generated): restore single-owner gen recipes and project merged contract
  .vscode/settings.json
  Makefile
  pyproject.toml
Due: none

chore(generated): align init-module lint policy with the scoped owner
  pyproject.toml
Due: none

chore(generated): adopt the config-owned slow-item budget
  pyproject.toml
Due: none

chore(generated): regenerate lazy package initializers
  src/flext_api/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore(generated): refresh project validation projections
  .markdownlint.json
  .markdownlintignore
  Makefile
  pyproject.toml
Due: none

fix(types): annotate validated adapter values (mro-6szaq)
  src/flext_api/_models/request.py
  src/flext_api/_models/response.py
  src/flext_api/_utilities/request_utils.py
  src/flext_api/_utilities/settings_manager.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fixes
  .pre-commit-config.yaml
Due: none

gen: P0 gate projections (merge-guard job, WIP/draft/scope guards, 120s CI=Y budget)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
Due: none

gen: self-scoped root Makefile selection (two-type standard)
  .pre-commit-config.yaml
  Makefile
Due: none

gen: remove mutation verbs from CI=N pre-push
  .pre-commit-config.yaml
Due: none

gen: move security scan to the CI=N local set
  Makefile
Due: none

test: mark slow cases and align timeout expectations to 10s budget (flext-38p39)
  tests/unit/test_transports_characterization.py
Due: ruff-format, ruff-lint, isort, mypy

fixes
  .beads/config.yaml
  .beads/metadata.json
Due: none

checkpoint(wip): regenerated scaffold artifacts before integration sweep
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .gitignore
  .mise.toml
  .pre-commit-config.yaml
  Makefile
  pyproject.toml
  sgconfig.yml
Due: none

checkpoint(wip): preserve uncommitted lane state before integration sweep
  .beads/config.yaml
Due: none

chore: checkpoint active generated lane
  .envrc
  .github/dependabot.yml
  .github/workflows/ci-matrix.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .gitignore
  .mise.toml
  .pre-commit-config.yaml
  .vscode/settings.json
  Makefile
  pyproject.toml
  sgconfig.yml
Due: none

chore: propagate beads 1.2.2 and gc 3307
  .beads/config.yaml
  .beads/metadata.json
  .envrc
  .gitignore
  .mise.toml
  .vscode/settings.json
Due: none

fix(codegen): declare repository-local Beads identity
  .venv
  config/beads.yaml
Due: none

docs(security): fix markdown lint findings
  docs/security/semgrep-triage.md
Due: none

fixes
  .beads/config.yaml
  .beads/metadata.json
  .envrc
  .github/scripts/install-git-hooks.sh
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .gitignore
  .mise.toml
  .pre-commit-config.yaml
  Makefile
  README.md
  docs/api-reference/README.md
  docs/api-reference/generated/modules/api.md
  docs/api-reference/generated/modules/base.md
  docs/api-reference/generated/modules/constants.md
  docs/api-reference/generated/modules/index.md
  docs/api-reference/generated/modules/models.md
  docs/api-reference/generated/modules/protocols.md
  docs/api-reference/generated/modules/typings.md
  docs/api-reference/generated/modules/utilities.md
  docs/api-reference/generated/overview.md
  docs/index.md
  mkdocs.yml
  pyproject.toml
Due: none

fixes
  .github/workflows/ci-matrix.yml
  .shellcheckrc
  bin/mise
  bin/mise.cmd
  config/beads.yaml
  mise.lock
  tests/fixtures/ci/docker/alpine.Dockerfile
  tests/fixtures/ci/docker/arch.Dockerfile
  tests/fixtures/ci/docker/debian.Dockerfile
  tests/fixtures/ci/docker/fedora.Dockerfile
  tests/fixtures/ci/docker/ubuntu.Dockerfile
Due: none

fixes
  .github/workflows/ci.yml
Due: none

feat(governance): authorize v2 detection_rules so flext tag activates
  .agents/projection.json
  .claude/settings.json
  AGENTS.md
Due: none

chore(codegen): regenerate projections from the flext-infra generator lane
  .github/workflows/ci-matrix.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .gitignore
  Makefile
  pyproject.toml
Due: none

chore(codegen): adopt landed-generator whitespace normalization (generator flext-infra f665a0c48, PR #515; bead flext-8uk2k)
  .github/workflows/ci-matrix.yml
  .pre-commit-config.yaml
Due: none

chore(codegen): regenerate projections (flext-13z9y)
  .beads/config.yaml
  .github/workflows/ci-matrix.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .gitignore
  .mise.toml
  .vscode/settings.json
  Makefile
  bin/mise
  bin/mise.cmd
  mise.lock
Due: none

chore(codegen): adopt mise-action v4.3.0 SSOT bump and mise relock (flext-1sm3w)
  .github/workflows/ci-matrix.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  mise.lock
Due: none

chore(codegen): adopt the semver release protocol (flext-1wjg1.16)
  .beads/config.yaml
  .github/workflows/ci-matrix.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .gitignore
  .mise.toml
  .pre-commit-config.yaml
  .vscode/settings.json
  Makefile
  bin/mise
  bin/mise.cmd
  config/build-constraints.txt
  config/gitleaks-release.toml
  docs/api-reference/README.md
  docs/api-reference/generated/overview.md
  examples/__init__.py
  mise.lock
  pyproject.toml
  src/flext_api/__init__.py
  src/flext_api/_constants/__init__.py
  src/flext_api/_models/__init__.py
  src/flext_api/_protocols/__init__.py
  src/flext_api/_typings/__init__.py
  src/flext_api/_utilities/__init__.py
  tests/__init__.py
  tests/fixtures/ci/docker/arch.Dockerfile
  tests/fixtures/ci/docker/debian.Dockerfile
  tests/fixtures/ci/docker/fedora.Dockerfile
  tests/fixtures/ci/docker/ubuntu.Dockerfile
  tests/unit/__init__.py
  uv.lock
Due: ruff-format, ruff-lint, isort, mypy, bandit

fix(models): resolve pyrefly computed_field overloads and empty containers (flext-1wjg1.16)
  src/flext_api/_models/client.py
  src/flext_api/_models/request.py
  src/flext_api/_models/response.py
  src/flext_api/_protocols/transports.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore(fleet): sync toolchain config, regenerate lazy exports, migrate beads to shared symlink
  .beads
  .beads/config.yaml
  .beads/metadata.json
  .envrc
  .github/workflows/ci-matrix.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .gitignore
  .mise.toml
  Makefile
  bin/mise
  bin/mise.cmd
  config/beads.yaml
  config/build-constraints.txt
  config/gitleaks-release.toml
  docs/api-reference/README.md
  docs/api-reference/generated/overview.md
  examples/__init__.py
  mise.lock
  pyproject.toml
  src/flext_api/__init__.py
  src/flext_api/_constants/__init__.py
  src/flext_api/_models/__init__.py
  src/flext_api/_protocols/__init__.py
  src/flext_api/_typings/__init__.py
  src/flext_api/_utilities/__init__.py
  tests/__init__.py
  tests/fixtures/ci/docker/alpine.Dockerfile
  tests/fixtures/ci/docker/arch.Dockerfile
  tests/fixtures/ci/docker/debian.Dockerfile
  tests/fixtures/ci/docker/fedora.Dockerfile
  tests/fixtures/ci/docker/ubuntu.Dockerfile
  tests/unit/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

[WIP] refactor: checkpoint fleet conformance
  .envrc
  .github/workflows/ci-matrix.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .gitignore
  .mise.toml
  .pre-commit-config.yaml
  .state/flext-infra/make-single-flight.lock
  .state/flext-infra/make-validation.lock
  .vscode/settings.json
  Makefile
  README.md
  config/build-constraints.txt
  custom.mk
  docs/index.md
  examples/__init__.py
  mise.lock
  pyproject.toml
  sgconfig.yml
  src/flext_api/__init__.py
  src/flext_api/_constants/__init__.py
  src/flext_api/_models/__init__.py
  src/flext_api/_protocols/__init__.py
  src/flext_api/_utilities/__init__.py
  tests/__init__.py
  tests/fixtures/ci/docker/alpine.Dockerfile
  tests/fixtures/ci/docker/arch.Dockerfile
  tests/fixtures/ci/docker/debian.Dockerfile
  tests/fixtures/ci/docker/fedora.Dockerfile
  tests/fixtures/ci/docker/ubuntu.Dockerfile
  tests/unit/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

[WIP] checkpoint regenerated managed surfaces
  Makefile
Due: none

[WIP] checkpoint adopted automation state
  examples/01_basic_usage.py
  pyproject.toml
  src/flext_api/_utilities/client.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: tests/
