Repository flext-sh/flext-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, isort, mypy, bandit

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: tests/

fixes
  docs/TODOS.md
  docs/api/core.md
  docs/overview.md
  docs/projects/generated/catalog.md
  docs/roadmap/index.md
Due: none

wip(preserve): capture current Mise script formatting for phase zero
  bin/mise-lock-converge.py
  bin/mise-lock-transaction.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fixes
  Makefile
  bin/mise-lock-converge.py
  bin/mise-lock-transaction.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

wip(preserve): adopt the regenerated Makefile and pyproject state (fleet stabilization wave)
  Makefile
  pyproject.toml
Due: none

chore(gen): converge the rope-fixed projection wave
  mise.lock
Due: none

chore(gen): convergence round 5
  docs/api/middleware.md
Due: none

chore(gen): convergence round 6
  docs/api/middleware.md
Due: none

fix(docs): repair python fences for make docs
  docs/api/protocols.md
  docs/api/storage.md
  docs/architecture/decisions/002-railway-pattern.md
  docs/architecture/decisions/003-protocol-abstraction.md
  docs/guides/using-flext-cli.md
  docs/guides/using-flext-tests.md
  docs/testing.md
Due: none

format
  src/flext_api/typings.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

refactor: improve mise bootstrap and cleanup imports
  Makefile
  bin/mise-lock-converge.py
  bin/mise-lock-transaction.py
  src/flext_api/_protocols/plugin_types.py
  src/flext_api/typings.py
  tests/unit/test_transports_facade_httpx.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

wip
  bin/mise-lock-converge.py
  bin/mise-lock-transaction.py
  conftest.py
  src/flext_api/_config.py
  src/flext_api/_models/_api_namespace.py
  src/flext_api/_models/request.py
  src/flext_api/_models/response.py
  src/flext_api/_models/storage.py
  src/flext_api/_models/webhook.py
  src/flext_api/_protocols/plugin_types.py
  src/flext_api/_typings/types.py
  tests/unit/test_transports_facade_httpx.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

format
  bin/mise-lock-converge.py
  src/flext_api/_config.py
  src/flext_api/_models/__init__.py
  src/flext_api/_models/_api_namespace.py
  src/flext_api/_models/request.py
  src/flext_api/_models/response.py
  src/flext_api/_models/storage.py
  src/flext_api/_models/webhook.py
  src/flext_api/_protocols/_transports_config.py
  src/flext_api/_protocols/_transports_request.py
  src/flext_api/_protocols/plugin_manager.py
  src/flext_api/_protocols/transports.py
  src/flext_api/_settings.py
  src/flext_api/_utilities/api_pydantic.py
  src/flext_api/_utilities/request_utils.py
  src/flext_api/_utilities/serializers.py
  src/flext_api/api.py
  src/flext_api/models.py
  src/flext_api/services/_services/async_request.py
  src/flext_api/services/_services/base_request.py
  src/flext_api/services/_services/codec.py
  src/flext_api/services/_services/request.py
  src/flext_api/services/base_client.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fixes
  .gitignore
  .vscode/settings.json
  Makefile
  bin/mise
  bin/mise-lock-converge.py
  bin/mise-lock-transaction.py
  bin/mise.cmd
  docs/api-reference/generated/overview.md
  mise.version
  pyproject.toml
  src/flext_api/__init__.py
  src/flext_api/_models/__init__.py
  src/flext_api/_settings.py
  src/flext_api/_typings/__init__.py
  src/flext_api/api.py
  src/flext_api/services/base_client.py
  src/flext_api/typings.py
  uv.lock
Due: ruff-format, ruff-lint, isort, mypy, bandit

fixes
  .github/workflows/docs.yml
  Makefile
  bin/mise-lock-converge.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

wip(preserve): the checkout's uncommitted state before baseline alignment (fleet integration 20261007)
  bin/mise-lock-converge.py
  bin/mise-lock-transaction.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fixes
  .envrc
  .github/dependabot.yml
  .github/workflows/ci-matrix.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .gitignore
  .markdownlintignore
  .mise.toml
  .prettierignore
  .vscode/settings.json
  Makefile
  bin/mise
  bin/mise-lock-converge.py
  bin/mise-lock-transaction.py
  mise.version
  pyproject.toml
  tests/fixtures/ci/docker/alpine.Dockerfile
  tests/fixtures/ci/docker/arch.Dockerfile
  tests/fixtures/ci/docker/debian.Dockerfile
  tests/fixtures/ci/docker/fedora.Dockerfile
  tests/fixtures/ci/docker/ubuntu.Dockerfile
Due: ruff-format, ruff-lint, isort, mypy, bandit

wip: preserve concurrent gen/fmt render — checkpoint-then-merge, 20261007 propagation wave
  .github/workflows/ci-matrix.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  docs/api/protocols.md
  docs/api/storage.md
  docs/architecture/decisions/002-railway-pattern.md
  docs/guides/using-flext-cli.md
  docs/testing.md
  pyproject.toml
  tests/unit/test_transports_facade_httpx.py
Due: ruff-format, ruff-lint, isort, mypy

chore(config): cleanup pyproject.toml linting rules and exclusions
  pyproject.toml
Due: none

fix(deps): restore the canonical git-pin render for the sibling groups — the workspace-shape checkpoint references members this repo does not declare (#230/#234 pattern)
  pyproject.toml
  uv.lock
Due: none

fix(typings): the types facade imports its lower layers directly — the namespace cycle made every entry point unimportable
  src/flext_api/typings.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

refactor: improve parameter formatting in API classes and functions
  docs/api/protocols.md
  docs/api/storage.md
  docs/architecture/decisions/002-railway-pattern.md
  docs/guides/using-flext-cli.md
  docs/testing.md
  tests/unit/test_transports_facade_httpx.py
Due: ruff-format, ruff-lint, isort, mypy

wip-preserve(sweep-20261007): snapshot flext-api/api-bootstrap-fjum8-20261006 before removal
  Makefile
  bin/mise
  bin/mise-lock-converge.py
  bin/mise-lock-transaction.py
  mise.lock
  pyproject.toml
  uv.lock
Due: ruff-format, ruff-lint, isort, mypy, bandit

fixes
  src/flext_api/_models/request.py
  src/flext_api/_models/response.py
  src/flext_api/_models/storage.py
  src/flext_api/_models/webhook.py
  src/flext_api/_protocols/_transports_config.py
  src/flext_api/_protocols/_transports_request.py
  src/flext_api/_protocols/transports.py
  src/flext_api/_settings.py
  src/flext_api/_typings/types.py
  src/flext_api/_utilities/api_pydantic.py
  src/flext_api/_utilities/request_utils.py
  src/flext_api/_utilities/serializers.py
  src/flext_api/api.py
  src/flext_api/services/_services/async_request.py
  src/flext_api/services/_services/base_request.py
  src/flext_api/services/_services/codec.py
  src/flext_api/services/_services/request.py
  src/flext_api/typings.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

refactor: reorder import statements for clarity
  src/flext_api/_models/storage.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore(adopt): adopt the concurrent upload-20261007 WIP as-is (fix-forward-adopt)
  src/flext_api/_models/request.py
  src/flext_api/_models/response.py
  src/flext_api/_typings/types.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fixes
  src/flext_api/_models/storage.py
  src/flext_api/_models/webhook.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fixes
  src/flext_api/_utilities/api_pydantic.py
  src/flext_api/_utilities/request_utils.py
  src/flext_api/_utilities/serializers.py
  src/flext_api/constants.py
  src/flext_api/models.py
  src/flext_api/protocols.py
  src/flext_api/services/_services/async_request.py
  src/flext_api/services/_services/base_request.py
  src/flext_api/services/_services/codec.py
  src/flext_api/services/_services/request.py
  src/flext_api/typings.py
  src/flext_api/utilities.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore(gen): regenerate projections and relock with the integrated flext-infra
  .github/dependabot.yml
  .github/workflows/ci-matrix.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .markdownlintignore
  .prettierignore
  Makefile
  mise.lock
  pyproject.toml
Due: none

chore(upg): relock standalone and regenerate with the integrated flext-infra
  .github/workflows/ci-matrix.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  Makefile
  pyproject.toml
  uv.lock
Due: none

fix(api): land upload-20261007 on 0.12.0-dev with project facades restored
  .github/workflows/ci-matrix.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  Makefile
  README.md
  docs/api-reference/README.md
  docs/api-reference/generated/overview.md
  pyproject.toml
  src/flext_api/__init__.py
  src/flext_api/_config.py
  src/flext_api/_models/__init__.py
  src/flext_api/_models/_api_namespace.py
  src/flext_api/_models/request.py
  src/flext_api/_models/response.py
  src/flext_api/_models/storage.py
  src/flext_api/_models/webhook.py
  src/flext_api/_protocols/_transports_config.py
  src/flext_api/_protocols/_transports_request.py
  src/flext_api/_protocols/transports.py
  src/flext_api/_typings/__init__.py
  src/flext_api/_typings/types.py
  src/flext_api/api.py
  src/flext_api/models.py
  src/flext_api/services/_services/base_request.py
  src/flext_api/typings.py
  uv.lock
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore(upg): relock standalone and regenerate with the integrated flext-infra
  Makefile
  uv.lock
Due: none

fix(api): own-facade imports, runtime model typings, single types owner
  README.md
  docs/api-reference/README.md
  docs/api-reference/generated/overview.md
  src/flext_api/__init__.py
  src/flext_api/_config.py
  src/flext_api/_models/__init__.py
  src/flext_api/_models/_api_namespace.py
  src/flext_api/_models/request.py
  src/flext_api/_models/response.py
  src/flext_api/_models/storage.py
  src/flext_api/_models/webhook.py
  src/flext_api/_protocols/_transports_config.py
  src/flext_api/_protocols/_transports_request.py
  src/flext_api/_protocols/transports.py
  src/flext_api/api.py
  src/flext_api/models.py
  src/flext_api/services/_services/base_request.py
  src/flext_api/typings.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore(upg): relock onto the flext-infra the Makefile was rendered with
  uv.lock
Due: none

refactor: simplify typings.py by removing unused imports and consolidating type definitions
  Makefile
  src/flext_api/typings.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fixes
  .github/dependabot.yml
  .github/workflows/ci-matrix.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .markdownlintignore
  .prettierignore
  Makefile
  pyproject.toml
Due: none

fix(pyproject): drop the stale duplicate [tool.mypy] keys a sweep snapshot merged in
  pyproject.toml
Due: none

fix(projections): converge upload-20261007 onto the generator output of 0.12.0-dev
  .github/workflows/ci-matrix.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  Makefile
  mise.lock
  pyproject.toml
  src/flext_api/typings.py
  uv.lock
Due: ruff-format, ruff-lint, isort, mypy, bandit

refactor(typings): simplify ResponseBody type definition
  src/flext_api/typings.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore: regenerate projections and locks via make upg/gen
  .gitignore
  .markdownlint.json
  .markdownlintignore
  .mise.toml
  .prettierignore
  .prettierrc
  .qlty/qlty.toml
  .sonarcloud.properties
  .vscode/settings.json
  Makefile
  mise.lock
  pyproject.toml
  tests/fixtures/ci/docker/alpine.Dockerfile
  uv.lock
Due: none
