Repository flext-sh/flext-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, isort, mypy, bandit

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: tests/

Notes added by 'git notes add'
  5f/4592902a93af6c5762b060ce9ab346ab1e2044
Due: none

Notes added by 'git notes add'
  8b/8e6700bae03e5c7cc0fd122565c6e4d503d935
Due: none

chore: refactor migration
  src/flext_api/__init__.py
  tests/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore: refactor migration
  docs/api/core.md
  docs/api/middleware.md
  docs/api/protocols.md
  docs/api/schemas.md
  docs/architecture/c4-model/code.md
  docs/architecture/c4-model/containers.md
  docs/architecture/c4-model/context.md
  docs/architecture/decisions/002-railway-pattern.md
  docs/architecture/decisions/003-protocol-abstraction.md
  docs/architecture/decisions/README.md
  docs/architecture/decisions/adr-template.md
  docs/architecture/overview.md
  docs/guides/development.md
  docs/guides/http-client.md
  docs/guides/testing.md
  docs/guides/troubleshooting.md
  docs/testing.md
  src/flext_api/_utilities/adapters.py
  src/flext_api/models.py
  src/flext_api/schemas/_shared.py
  src/flext_api/schemas/asyncapi.py
  src/flext_api/schemas/jsonschema.py
  src/flext_api/schemas/openapi.py
  src/flext_api/utilities.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  49/a31cac5485bbc913b7b93a3075a07463ef685e
Due: none

Notes added by 'git notes add'
  d2/aff49b1e9231628d46bdd3a2443c7d24d3dfe7
Due: none

chore: refactor migration
  tests/conftest.py
Due: ruff-format, ruff-lint, isort, mypy

Notes added by 'git notes add'
  ea/23ee3af2411e5ee94581479f1aae3afe2cc17d
Due: none

chore: refactor migration
  pyproject.toml
  src/flext_api/_protocols/plugins.py
  src/flext_api/_protocols/transports.py
  src/flext_api/_utilities/registry.py
  src/flext_api/_utilities/serializers.py
  src/flext_api/_utilities/server_factory.py
  src/flext_api/_utilities/settings_manager.py
  src/flext_api/_utilities/storage.py
  src/flext_api/_utilities/webhook.py
  src/flext_api/api.py
  src/flext_api/errors.py
  src/flext_api/models.py
  src/flext_api/protocol_impls/base.py
  src/flext_api/protocol_impls/http.py
  src/flext_api/protocol_impls/http_client.py
  src/flext_api/protocol_impls/rfc.py
  src/flext_api/protocol_impls/sse.py
  src/flext_api/protocol_impls/storage_backend.py
  src/flext_api/protocol_impls/websocket.py
  src/flext_api/server.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  bc/d1851c9e9e1bf6b35c6d95fec86b315a9993c2
Due: none

Notes added by 'git notes add'
  b0/758336862758d7b379f45c9248b902848b22ba
Due: none

chore: refactor migration
  src/flext_api/_utilities/client.py
  src/flext_api/_utilities/webhook.py
  src/flext_api/api.py
  src/flext_api/models.py
  src/flext_api/schemas/_shared.py
  src/flext_api/server.py
  src/flext_api/utilities.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  7a/db17ec3a79cc0a95b40f31fe3837632e920871
Due: none

chore: refactor migration
  src/flext_api/api.py
  src/flext_api/models.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore: refactor migration
  docs/architecture/diagrams/http-request-flow.puml
  docs/guides/development.md
  src/flext_api/_utilities/client.py
  src/flext_api/_utilities/serializers.py
  src/flext_api/_utilities/settings_manager.py
  src/flext_api/_utilities/webhook.py
  src/flext_api/api.py
  src/flext_api/models.py
  src/flext_api/protocol_impls/http.py
  src/flext_api/protocols.py
  src/flext_api/schemas/asyncapi.py
  src/flext_api/schemas/jsonschema.py
  src/flext_api/schemas/openapi.py
  src/flext_api/server.py
  src/flext_api/typings.py
  src/flext_api/utilities.py
  tests/constants.py
  tests/models.py
  tests/protocols.py
  tests/typings.py
  tests/unit/test_serializers.py
  tests/unit/test_smoke.py
  tests/unit/test_webhook.py
  tests/utilities.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  90/e3c8dd511b63cd291156454988631559aa99c8
Due: none

Notes added by 'git notes add'
  a5/0618737dbb7ad9f86df5586d9c1954650292bd
Due: none

chore: refactor migration
  src/flext_api/_utilities/storage.py
  src/flext_api/_utilities/webhook.py
  src/flext_api/constants.py
  src/flext_api/models.py
  src/flext_api/protocol_impls/base.py
  src/flext_api/schemas/openapi.py
  src/flext_api/server.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore: refactor migration
  docs/README.md
  docs/api/core.md
  docs/api/middleware.md
  docs/api/protocols.md
  docs/api/storage.md
  docs/architecture/c4-model/code.md
  docs/architecture/decisions/002-railway-pattern.md
  docs/architecture/decisions/003-protocol-abstraction.md
  docs/architecture/overview.md
  docs/guides/development.md
  docs/guides/getting-started.md
  docs/guides/http-client.md
  docs/guides/phase1_implementation_plan.md
  docs/guides/testing.md
  docs/guides/troubleshooting.md
  docs/testing.md
Due: none

Notes added by 'git notes add'
  fd/dc74b9b9f8d20054cab9f0142c80a128d3a798
Due: none

Notes added by 'git notes add'
  ee/692483f858eb9eac7f0e90c603fd893b4d3328
Due: none

chore: refactor migration
  src/flext_api/__init__.py
  src/flext_api/_utilities/client.py
  src/flext_api/api.py
  src/flext_api/protocols.py
  src/flext_api/schemas/asyncapi.py
  src/flext_api/schemas/openapi.py
  src/flext_api/server.py
  src/flext_api/typings.py
  src/flext_api/utilities.py
  tests/__init__.py
  tests/unit/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore: refactor migration
  tests/__init__.py
Due: ruff-format, ruff-lint, isort, mypy

Notes added by 'git notes add'
  45/8058bb33cb91b50aed0731b29c12f6e671be45
Due: none

Notes added by 'git notes add'
  d2/ad37818d43636cab65ce92bee6ad5d18a9969d
Due: none

chore: refactor migration
  src/flext_api/constants.py
  src/flext_api/protocols.py
  src/flext_api/utilities.py
  tests/constants.py
  tests/models.py
  tests/protocols.py
  tests/utilities.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore: refactor migration
  .github/workflows/ci.yml
  Makefile
  base.mk
  docs/architecture/decisions/002-railway-pattern.md
  pyproject.toml
  src/flext_api/__init__.py
  src/flext_api/_utilities/adapters.py
  src/flext_api/models.py
  src/flext_api/protocols.py
  src/flext_api/schemas/__init__.py
  src/flext_api/schemas/shared.py
  src/flext_api/utilities.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  bd/8d952546d66c393de4b6702808f7b4dae2abad
Due: none

chore: refactor migration
  docs/api/core.md
  docs/api/schemas.md
  docs/architecture/c4-model/code.md
  docs/guides/configuration.md
  docs/guides/development.md
  docs/guides/troubleshooting.md
  src/flext_api/_utilities/adapters.py
  src/flext_api/_utilities/client.py
  src/flext_api/_utilities/registry.py
  src/flext_api/_utilities/serializers.py
  src/flext_api/_utilities/settings_manager.py
  src/flext_api/api.py
  src/flext_api/models.py
  src/flext_api/protocol_impls/websocket.py
  src/flext_api/protocols.py
  src/flext_api/settings.py
  src/flext_api/typings.py
  src/flext_api/utilities.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  ca/a7a0ab95695ba6dea24e91e12590f0a5e06157
Due: none

chore: refactor migration
  base.mk
  docs/CHANGELOG.md
  docs/README.md
  docs/api/core.md
  docs/api/middleware.md
  docs/api/protocols.md
  docs/api/schemas.md
  docs/api/storage.md
  docs/architecture/README.md
  docs/architecture/c4-model/code.md
  docs/architecture/overview.md
  docs/guides/configuration.md
  docs/guides/implementation_status.md
  docs/guides/troubleshooting.md
  docs/releases/latest.md
  docs/roadmap/index.md
  src/README.md
  src/flext_api/_utilities/serializers.py
  src/flext_api/_utilities/settings_manager.py
  src/flext_api/_utilities/storage.py
  src/flext_api/_utilities/webhook.py
  src/flext_api/api.py
  src/flext_api/constants.py
  src/flext_api/models.py
  src/flext_api/protocols.py
  src/flext_api/settings.py
  src/flext_api/utilities.py
  tests/unit/README.md
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  9b/f69716e401b88a376c2ae6a19ac157b6098331
Due: none

chore: refactor migration
  AGENTS.md
  Makefile.build
Due: none

Notes added by 'git notes add'
  38/ba165f59a7bf00adaa80f92244df61b16e1b4b
Due: none

chore: refactor migration
  base.mk
  src/flext_api/models.py
  src/flext_api/protocols.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  a5/1e24be608eed6695da535ea0d81f53df3dda5b
Due: none

chore: refactor migration
  base.mk
  pyproject.toml
  tests/__init__.py
  tests/unit/__init__.py
Due: ruff-format, ruff-lint, isort, mypy

Notes added by 'git notes add'
  f9/42c9d0773812682432f85c0c59051906051e2f
Due: none
