Repository flext-sh/flext-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, isort, mypy, bandit

ruff-format:
  name: âš¡ Ruff Format (PEP8 Strict - 79 chars)
  entry: poetry run ruff format
  language: system
  require_serial: true
  args:
  - --check
  - --diff

ruff-lint:
  name: ğŸ”¥ Ruff Lint (ALL categories)
  entry: poetry run ruff check
  language: system
  require_serial: true
  args:
  - --fix
  - --exit-non-zero-on-fix
  - --line-length=88
  - --target-version=py313
  - --select=ALL
  - --ignore=COM812
  - ISC001
  - D203
  - D213
  - TD003
  - FIX002
  - ERA001
  - PLR0912
  - PLR0913
  - PLR0915
  ...

isort:
  name: ğŸ“¦ Import Sort
  entry: poetry run isort
  language: system
  require_serial: true
  args:
  - --check-only
  - --diff
  - --profile=ruff
  - --line-length=88

mypy:
  name: ğŸ›¡ï¸ MyPy Strict
  entry: poetry run mypy
  language: system
  require_serial: true
  pass_filenames: false
  args:
  - src/
  - tests/
  - --config-file=pyproject.toml
  - --strict
  - --warn-unreachable
  - --warn-unused-ignores
  - --no-implicit-reexport
  - --ignore-missing-imports
  - --show-error-codes
  ...

bandit:
  name: ğŸ”’ Bandit Security
  entry: poetry run bandit
  language: system
  require_serial: true
  pass_filenames: false
  args:
  - -r
  - src/
  - --severity-level=medium
  - --format=txt

chore(upload): relock uv.lock on the integrated npm-free flext tips
  uv.lock
Due: none

refactor(typings): streamline type definitions by inheriting from base typings
  src/flext_api/_typings/base.py
  src/flext_api/typings.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore(env): enhance Mise configuration for runtime discovery
  .envrc
Due: none

fix(api): strict checker-visible declaration shapes (pyright 30→5)
  src/flext_api/_models/request.py
  src/flext_api/_models/webhook.py
  src/flext_api/_settings.py
  src/flext_api/services/_services/base_request.py
  tests/unit/test_async_client.py
  tests/unit/test_response_wire_content.py
  tests/unit/test_smoke.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

test(api): consume settings in the canonical strict form
  tests/unit/test_response_wire_content.py
  tests/unit/test_smoke.py
Due: ruff-format, ruff-lint, isort, mypy

fix(api): HttpResponse.request_id assignment-side default (owner cure)
  src/flext_api/_models/response.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fixes
  .envrc
  Makefile
Due: none

fix(api): inherit the FlextService result parameter instead of redeclaring a bound (mypy semanal crash)
  src/flext_api/base.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fixes
  .envrc
  src/flext_api/_protocols/_transports_config.py
  src/flext_api/_protocols/_transports_request.py
  src/flext_api/_protocols/transports.py
  src/flext_api/_typings/base.py
  src/flext_api/_utilities/api_pydantic.py
  src/flext_api/_utilities/serializers.py
  src/flext_api/typings.py
  src/flext_api/utilities.py
  tests/unit/test_transports_characterization.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

refactor(settings): update API settings structure and improve type definitions
  .github/workflows/ci-matrix.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .mise.toml
  Makefile
  pyproject.toml
  src/flext_api/_protocols/__init__.py
  src/flext_api/_utilities/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore: regenerate projections from the reconciled toolchain (dev final round)
  .envrc
  Makefile
  pyproject.toml
Due: none

chore(relock): propagate fleet infra + member locks (relock wave 20261009)
  .envrc
  Makefile
  mise.lock
  pyproject.toml
  uv.lock
Due: none

fixes
  .envrc
  Makefile
  pyproject.toml
Due: none

chore(editor): per-member pyright configuration for Pylance (useNearestConfiguration)
  .vscode/settings.json
Due: none

Refactor CI workflows and Makefile for improved approval process and tool management
  .envrc
  .github/workflows/ci-matrix.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .gitignore
  .mise.toml
  .pre-commit-config.yaml
  Makefile
  pyproject.toml
Due: none

wip
  .github/workflows/ci-matrix.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  Makefile
Due: none

wip
  .mise.toml
  Makefile
  pyproject.toml
Due: none

fixes
  Makefile
  pyproject.toml
Due: none

wip: preserve declared WIP on upload-20261007
  .envrc
Due: none

fixes
  .envrc
Due: none

fixes
  .envrc
  .github/workflows/ci-matrix.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .mise.toml
  Makefile
Due: none

fixes
  .envrc
  src/flext_api/_typings/base.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fixes
  .envrc
  config/rules/mod/sed.yaml
  tests/unit/model_contract.py
  tests/unit/test_async_client.py
  tests/unit/test_response_wire_content.py
  tests/unit/test_serializers.py
  tests/unit/test_smoke.py
  tests/unit/test_transports_facade_httpx.py
  tests/unit/test_utilities_transport.py
Due: ruff-format, ruff-lint, isort, mypy

fix(typings): build the value adapters via TypeAdapter directly — the web retired its adapter factories
  src/flext_api/_typings/base.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fix(typings): retire the remaining web adapter factories — ValueAdapter[T] is TypeAdapter[T]
  src/flext_api/_typings/base.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fixes
  uv.lock
Due: none

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: tests/
