Repository flext-sh/flext-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, isort, mypy, bandit

ruff-format:
  name: âš¡ Ruff Format (PEP8 Strict - 79 chars)
  entry: poetry run ruff format
  language: system
  require_serial: true
  args:
  - --check
  - --diff

ruff-lint:
  name: ğŸ”¥ Ruff Lint (ALL categories)
  entry: poetry run ruff check
  language: system
  require_serial: true
  args:
  - --fix
  - --exit-non-zero-on-fix
  - --line-length=88
  - --target-version=py313
  - --select=ALL
  - --ignore=COM812
  - ISC001
  - D203
  - D213
  - TD003
  - FIX002
  - ERA001
  - PLR0912
  - PLR0913
  - PLR0915
  ...

isort:
  name: ğŸ“¦ Import Sort
  entry: poetry run isort
  language: system
  require_serial: true
  args:
  - --check-only
  - --diff
  - --profile=ruff
  - --line-length=88

mypy:
  name: ğŸ›¡ï¸ MyPy Strict
  entry: poetry run mypy
  language: system
  require_serial: true
  pass_filenames: false
  args:
  - src/
  - tests/
  - --config-file=pyproject.toml
  - --strict
  - --warn-unreachable
  - --warn-unused-ignores
  - --no-implicit-reexport
  - --ignore-missing-imports
  - --show-error-codes
  ...

bandit:
  name: ğŸ”’ Bandit Security
  entry: poetry run bandit
  language: system
  require_serial: true
  pass_filenames: false
  args:
  - -r
  - src/
  - --severity-level=medium
  - --format=txt

fix: codegen regeneration with improved alias resolution
  src/flext_api/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  98772bb4c65caa0b89271d33ef5c539cb650c9cc
Due: none

chore: refactor migration
  tests/__init__.py
Due: ruff-format, ruff-lint, isort, mypy

Notes added by 'git notes add'
  ddb0ac61f3251a935c1f09301245ba8748d866a3
Due: none

chore: refactor migration
  examples/01_basic_usage.py
  src/flext_api/constants.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore: refactor migration
  src/flext_api/schemas/_shared.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  6374700afe2fcdb0434b3f7b34c4086976fb83db
Due: none

Notes added by 'git notes add'
  ae88c7800a21dddb59a8abe881545bd5ff118b5f
Due: none

chore: refactor migration
  src/flext_api/__init__.py
  tests/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  3ae50359e5c8c72bacfbf4c79d5f04a1f135a01b
Due: none

chore: refactor migration
  src/flext_api/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  3f14243f101876147849d0fd80d7a67f0cb920a2
Due: none

chore: refactor migration
  src/flext_api/constants.py
  src/flext_api/models.py
  src/flext_api/webhook.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  57b9041430f224008107c63ea7ff94268199ec3b
Due: none

Notes added by 'git notes add'
  8b1d28143e7fe70651995a6e313cc62325e94667
Due: none

chore: refactor migration
  src/flext_api/server.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

refactor(flext-api): apply t.* validation types to models
  src/flext_api/models.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  3c2fe5b356585a28f80f7e352a71650116370792
Due: none

chore: refactor migration
  src/flext_api/__init__.py
  src/flext_api/adapters.py
  src/flext_api/plugins.py
  src/flext_api/protocol_impls/__init__.py
  src/flext_api/protocol_impls/rfc.py
  src/flext_api/protocol_impls/sse.py
  src/flext_api/protocol_impls/websocket.py
  src/flext_api/schemas/__init__.py
  tests/__init__.py
  tests/unit/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  6396e24d29e4627506e636c6ea6161cb6eb6d4f5
Due: none

Notes added by 'git notes add'
  355bb5781ef7009575d315a22ce50c3f34da26c0
Due: none

fix: resolve lazy loading issue in flext-api typings
  src/flext_api/typings.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  8422dec4624b77fb99ff90c3ba3b55c8e685d7ad
Due: none

chore: refactor migration
  poetry.lock
  src/flext_api/__init__.py
  src/flext_api/protocol_impls/__init__.py
  src/flext_api/schemas/__init__.py
  tests/__init__.py
  tests/unit/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  c9fa883b8a3ca3805bb43634b8adee3fee6657b2
Due: none

chore: refactor migration
  src/flext_api/__init__.py
  src/flext_api/protocol_impls/__init__.py
  src/flext_api/schemas/__init__.py
  tests/__init__.py
  tests/unit/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  92511685c163912ad5fc122fa51647036eb13566
Due: none

chore: refactor migration
  src/flext_api/protocol_impls/__init__.py
  src/flext_api/schemas/__init__.py
  tests/unit/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  edc472c18930878dc7c4d5ec82ce3d1c1f0fb62a
Due: none

chore: refactor migration
  pyproject.toml
  src/flext_api/protocol_impls/__init__.py
  src/flext_api/schemas/__init__.py
  tests/unit/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  2f713cea790f473d3f86e924efd8fd4857166287
Due: none

chore: refactor migration
  src/flext_api/api.py
  src/flext_api/constants.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore: refactor migration
  src/flext_api/models.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  97/3cb7b4fe6e94b1edb0f6d8b6cf64f4c8aee78c
Due: none

Notes added by 'git notes add'
  66/914e85082c7362ea42f34e0947f1921c67a2b5
Due: none

Notes added by 'git notes add'
  ae/0cd358e2d313db3cbf175de27d224d6b7293b5
Due: none

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: tests/
