Repository flext-sh/flext-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, isort, mypy, bandit

ruff-format:
  name: âš¡ Ruff Format (PEP8 Strict - 79 chars)
  entry: poetry run ruff format
  language: system
  require_serial: true
  args:
  - --check
  - --diff

ruff-lint:
  name: ğŸ”¥ Ruff Lint (ALL categories)
  entry: poetry run ruff check
  language: system
  require_serial: true
  args:
  - --fix
  - --exit-non-zero-on-fix
  - --line-length=88
  - --target-version=py313
  - --select=ALL
  - --ignore=COM812
  - ISC001
  - D203
  - D213
  - TD003
  - FIX002
  - ERA001
  - PLR0912
  - PLR0913
  - PLR0915
  ...

isort:
  name: ğŸ“¦ Import Sort
  entry: poetry run isort
  language: system
  require_serial: true
  args:
  - --check-only
  - --diff
  - --profile=ruff
  - --line-length=88

mypy:
  name: ğŸ›¡ï¸ MyPy Strict
  entry: poetry run mypy
  language: system
  require_serial: true
  pass_filenames: false
  args:
  - src/
  - tests/
  - --config-file=pyproject.toml
  - --strict
  - --warn-unreachable
  - --warn-unused-ignores
  - --no-implicit-reexport
  - --ignore-missing-imports
  - --show-error-codes
  ...

bandit:
  name: ğŸ”’ Bandit Security
  entry: poetry run bandit
  language: system
  require_serial: true
  pass_filenames: false
  args:
  - -r
  - src/
  - --severity-level=medium
  - --format=txt

fixes
  docs/api-reference/generated/overview.md
Due: none

docs: D401/D417 docstring uplift (imperative mood + arg docs) [mro-78eb]
  src/flext_api/api.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore(ruff): enforce D401/D417 (drop ignore) after docstring uplift [mro-78eb]
  pyproject.toml
Due: none

docs: regenerate API overview (doc summary + classifiers) [mro-6x37]
  docs/api-reference/generated/overview.md
Due: none

docs(tests): imperative-mood docstrings for D401 enforcement
  tests/unit/test_transports_characterization.py
Due: ruff-format, ruff-lint, isort, mypy

feat(flext-api): HttpRequest.sni_hostname for IP-target TLS verification
  src/flext_api/_models/request.py
  src/flext_api/_utilities/client_request.py
  tests/unit/test_smoke.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fix(flext-api): HTTP client returns HttpResponse for any status; r.fail only on transport failure
  src/flext_api/_utilities/client_request.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

disable tests temporary
  tests/README.md
  tests/__init__.py
  tests/base.py
  tests/conftest.py
  tests/constants.py
  tests/models.py
  tests/protocols.py
  tests/settings.py
  tests/typings.py
  tests/unit/README.md
  tests/unit/__init__.py
  tests/unit/py.typed
  tests/unit/test_serializers.py
  tests/unit/test_smoke.py
  tests/unit/test_transports_characterization.py
  tests/utilities.py
Due: ruff-format, ruff-lint, isort, mypy

refactor(examples): move examples/ to gitignored legado/ + drop from active lint surface [mro-f1fe]
  examples/01_basic_usage.py
  examples/README.md
  examples/__init__.py
  pyproject.toml
Due: ruff-format, ruff-lint, isort, mypy, bandit

fixes
  Makefile
Due: none

fixes
  src/flext_api/_protocols/plugin_manager.py
  src/flext_api/_protocols/plugin_types.py
  src/flext_api/_utilities/request_utils.py
  src/flext_api/models.py
  src/flext_api/protocols.py
  src/flext_api/typings.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fixes
  src/flext_api/constants.py
  src/flext_api/models.py
  src/flext_api/protocols.py
  src/flext_api/typings.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fixes
  src/flext_api/base.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore(make): checkpoint generated setup contract
  Makefile
Due: none

chore(scaffold): regenerate project ignore rules
  .gitignore
Due: none

chore(make): regenerate standalone bootstrap guard (make setup standalone)
  Makefile
Due: none

build(hatch): add standardized wheel target for 0.12.0 packaging
  pyproject.toml
Due: none

release(0.12.0): finalize version + mark alpha
  pyproject.toml
Due: none

refactor
  pyproject.toml
  src/flext_api/__init__.py
  src/flext_api/_constants/__init__.py
  src/flext_api/_constants/api_values.py
  src/flext_api/_models/__init__.py
  src/flext_api/_models/client.py
  src/flext_api/_models/request.py
  src/flext_api/_models/response.py
  src/flext_api/_models/storage.py
  src/flext_api/_models/webhook.py
  src/flext_api/_protocols/__init__.py
  src/flext_api/_protocols/_transports_request.py
  src/flext_api/_protocols/base_http.py
  src/flext_api/_protocols/base_serialization.py
  src/flext_api/_protocols/base_storage.py
  src/flext_api/_protocols/base_transport.py
  src/flext_api/_protocols/plugin_manager.py
  src/flext_api/_protocols/plugin_types.py
  src/flext_api/_protocols/plugins.py
  src/flext_api/_protocols/transports.py
  src/flext_api/_settings.py
  src/flext_api/_typings/__init__.py
  src/flext_api/_utilities/__init__.py
  src/flext_api/_utilities/api_pydantic.py
  src/flext_api/_utilities/client_codec.py
  src/flext_api/_utilities/client_request.py
  src/flext_api/_utilities/request_utils.py
  src/flext_api/_utilities/serializers.py
  src/flext_api/_utilities/settings_manager.py
  src/flext_api/api.py
  src/flext_api/base.py
  src/flext_api/typings.py
  src/flext_api/utilities.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fix(packaging): resolve api dependencies from Git
  pyproject.toml
Due: none

test: recover tests and examples from legado into live tree
  examples/01_basic_usage.py
  examples/README.md
  examples/__init__.py
  tests/README.md
  tests/base.py
  tests/conftest.py
  tests/constants.py
  tests/models.py
  tests/protocols.py
  tests/settings.py
  tests/typings.py
  tests/unit/README.md
  tests/unit/__init__.py
  tests/unit/py.typed
  tests/unit/test_serializers.py
  tests/unit/test_smoke.py
  tests/unit/test_transports_characterization.py
  tests/utilities.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fix(uv): workspace members use workspace=true not git source
  pyproject.toml
Due: none

test: convert assert to tm matchers (assert->tm.that/ok/fail codemod)
  tests/constants.py
  tests/unit/__init__.py
  tests/unit/test_serializers.py
  tests/unit/test_smoke.py
  tests/unit/test_transports_characterization.py
Due: ruff-format, ruff-lint, isort, mypy

chore(workspace): sync generated gitignore
  .gitignore
Due: none

fixes
  src/flext_api/base.py
  tests/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fixes
  src/flext_api/__init__.py
  src/flext_api/_constants/__init__.py
  src/flext_api/_models/__init__.py
  src/flext_api/_protocols/__init__.py
  src/flext_api/_typings/__init__.py
  src/flext_api/_utilities/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fixes
  examples/__init__.py
  tests/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

ci: sync gating CI (Setup+Check blocking) from workspace SSOT
  .github/workflows/ci.yml
Due: none

fixes
  src/flext_api/_constants/__init__.py
  src/flext_api/_constants/api_values.py
  src/flext_api/_models/__init__.py
  src/flext_api/_models/webhook.py
  src/flext_api/_protocols/__init__.py
  src/flext_api/_protocols/_transports_request.py
  src/flext_api/_protocols/base_grpc.py
  src/flext_api/_protocols/base_http.py
  src/flext_api/_protocols/base_serialization.py
  src/flext_api/_protocols/base_storage.py
  src/flext_api/_protocols/base_transport.py
  src/flext_api/_protocols/plugin_manager.py
  src/flext_api/_protocols/plugin_types.py
  src/flext_api/_protocols/serialization.py
  src/flext_api/_protocols/transports.py
  src/flext_api/_typings/__init__.py
  src/flext_api/_utilities/__init__.py
  src/flext_api/_utilities/api_pydantic.py
  src/flext_api/_utilities/client.py
  src/flext_api/api.py
  tests/constants.py
  tests/unit/test_smoke.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fix(client): read injected instance settings for request defaults
  src/flext_api/_utilities/client_request.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fixes
  docs/guides/http-client.md
  examples/01_basic_usage.py
  src/flext_api/_models/storage.py
  src/flext_api/_models/webhook.py
  src/flext_api/_protocols/_transports_request.py
  src/flext_api/_protocols/transports.py
  src/flext_api/_utilities/api_pydantic.py
  src/flext_api/_utilities/client_request.py
  src/flext_api/_utilities/request_utils.py
  src/flext_api/_utilities/settings_manager.py
  src/flext_api/api.py
  src/flext_api/base.py
  src/flext_api/history.json
  tests/base.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fixes
  docs/guides/troubleshooting.md
  examples/01_basic_usage.py
  src/flext_api/_models/storage.py
  src/flext_api/_models/webhook.py
  src/flext_api/_protocols/_transports_config.py
  src/flext_api/_protocols/_transports_request.py
  src/flext_api/_protocols/base_grpc.py
  src/flext_api/_protocols/base_http.py
  src/flext_api/_protocols/base_storage.py
  src/flext_api/_protocols/base_transport.py
  src/flext_api/_protocols/plugin_manager.py
  src/flext_api/_protocols/plugin_types.py
  src/flext_api/_protocols/transports.py
  src/flext_api/_utilities/api_pydantic.py
  src/flext_api/_utilities/client_request.py
  src/flext_api/_utilities/settings_manager.py
  src/flext_api/api.py
  src/flext_api/history.json
  tests/constants.py
  tests/typings.py
  tests/unit/test_serializers.py
  tests/unit/test_smoke.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fixes
  src/flext_api/_models/storage.py
  src/flext_api/_models/webhook.py
  src/flext_api/_protocols/_transports_request.py
  src/flext_api/api.py
  src/flext_api/history.json
  tests/unit/test_transports_characterization.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fix(models): align model_config constructor with t.ConfigDict annotation
  src/flext_api/_models/storage.py
  src/flext_api/_models/webhook.py
  src/flext_api/api.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore(flext-api): conform pyproject to standalone git+URL deps (mro-qb4y root-only workspace)
  pyproject.toml
Due: none

docs(api): refresh generated API inventory
  README.md
  docs/api-reference/README.md
  docs/api-reference/generated/overview.md
  docs/index.md
Due: none

chore(release): normalize version to 0.12.0.rc0 [mro-p68a]
  pyproject.toml
Due: none

fixes
  pyproject.toml
Due: none

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: tests/
