Repository flext-sh/flext-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, isort, mypy, bandit

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: tests/

fix(flext-api): use t.Primitives instead of inline isinstance str|int|float|bool
  src/flext_api/utilities.py
  src/flext_api/webhook.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fix(flext-api): replace all inline primitive type unions with FlextTypes.* canonical types in typings.py
  src/flext_api/typings.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fix(flext-api): add WebParamValue type alias, fix RouteData Callable[[], object] violation
  pyproject.toml
  src/flext_api/api.py
  src/flext_api/client.py
  src/flext_api/models.py
  src/flext_api/typings.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore: refactor migration
  docs/README.md
  docs/api/core.md
  docs/api/protocols.md
  docs/api/storage.md
  docs/architecture/c4-model/code.md
  docs/architecture/c4-model/components.md
  docs/architecture/c4-model/containers.md
  docs/architecture/decisions/001-flext-core-dependency.md
  docs/architecture/decisions/002-railway-pattern.md
  docs/architecture/diagrams/http-request-flow.puml
  docs/architecture/overview.md
  docs/guides/configuration.md
  docs/guides/development.md
  docs/guides/getting-started.md
  docs/guides/implementation_status.md
  docs/guides/phase1_implementation_plan.md
  docs/guides/testing.md
  docs/guides/troubleshooting.md
  docs/testing.md
  examples/01_basic_usage.py
  examples/README.md
  pyproject.toml
  src/flext_api/__init__.py
  src/flext_api/client.py
  src/flext_api/protocol_impls/base.py
  src/flext_api/protocol_impls/rfc.py
  src/flext_api/protocol_impls/websocket.py
  src/flext_api/protocols.py
  src/flext_api/schemas/asyncapi.py
  src/flext_api/schemas/jsonschema.py
  src/flext_api/schemas/openapi.py
  src/flext_api/server.py
  src/flext_api/server_factory.py
  src/flext_api/utilities.py
  src/flext_api/webhook.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  34eb611e54ab13f1db1ecfba84d7ea870771d9d0
Due: none

chore(flext-api): update docs and pyproject.toml
  docs/api/middleware.md
  docs/architecture/decisions/003-protocol-abstraction.md
  docs/architecture/diagrams/HTTP Request Flow.svg
  docs/guides/http-client.md
  pyproject.toml
Due: none

chore: refactor migration
  src/flext_api/utilities.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  b7876e9065ecd70ce337cfd10dbb941f87390ed1
Due: none

Notes added by 'git notes add'
  216450ecd41663a7e576309a130d0a7f4ad7e2b4
Due: none

chore: refactor migration
  examples/01_basic_usage.py
  src/flext_api/api.py
  src/flext_api/client.py
  src/flext_api/plugins.py
  src/flext_api/protocol_impls/base.py
  src/flext_api/protocol_impls/http.py
  src/flext_api/protocol_impls/http_client.py
  src/flext_api/protocol_impls/logger.py
  src/flext_api/protocol_impls/rfc.py
  src/flext_api/protocol_impls/sse.py
  src/flext_api/protocol_impls/websocket.py
  src/flext_api/schemas/asyncapi.py
  src/flext_api/schemas/openapi.py
  src/flext_api/settings_manager.py
  src/flext_api/storage.py
  src/flext_api/transports.py
  src/flext_api/utilities.py
  src/flext_api/webhook.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore: refactor migration
  pyproject.toml
  src/flext_api/protocol_impls/http.py
  src/flext_api/protocol_impls/http_client.py
  src/flext_api/protocol_impls/rfc.py
  src/flext_api/schemas/jsonschema.py
  src/flext_api/serializers.py
  src/flext_api/server.py
  src/flext_api/storage.py
  src/flext_api/typings.py
  src/flext_api/utilities.py
  src/flext_api/webhook.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  64ebaab0d5cd411f2d0d38ef82243e6981820c2f
Due: none

Notes added by 'git notes add'
  678d9025cded804d67c56e459f196f0271e1e80b
Due: none

chore: refactor migration
  src/flext_api/protocol_impls/rfc.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fix: resolve all broken type annotations from corrupted regex refactor
  src/flext_api/protocol_impls/http.py
  src/flext_api/protocol_impls/http_client.py
  src/flext_api/server.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  70b7d4923f7324559044255dd6eec022b023808a
Due: none

chore: refactor migration
  src/flext_api/api.py
  src/flext_api/client.py
  src/flext_api/plugins.py
  src/flext_api/protocol_impls/base.py
  src/flext_api/protocol_impls/http.py
  src/flext_api/protocol_impls/http_client.py
  src/flext_api/protocol_impls/logger.py
  src/flext_api/protocol_impls/rfc.py
  src/flext_api/protocol_impls/sse.py
  src/flext_api/protocol_impls/websocket.py
  src/flext_api/server.py
  src/flext_api/transports.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore: refactor migration
  src/flext_api/models.py
  src/flext_api/schemas/asyncapi.py
  src/flext_api/schemas/openapi.py
  src/flext_api/storage.py
  src/flext_api/utilities.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  b95922dd5a66f970f19201109610680d4c7a2743
Due: none

Notes added by 'git notes add'
  41ccba0db0c66390bf2bb5ecc52f021b917518f5
Due: none

chore: refactor migration
  pyproject.toml
Due: none

Notes added by 'git notes add'
  7a494738c3560c2a69e4d21f54269ac598c956a7
Due: none

[refactor] flext-api: fix isinstance(x, t.Primitives) → isinstance(x, t.PRIMITIVES_TYPES)
  src/flext_api/utilities.py
  src/flext_api/webhook.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fix: replace __class__ patterns with isinstance() in settings_manager.py
  src/flext_api/settings_manager.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  e06e5a0ffedd6bdeb81d32b9ae824ee67ccfd97a
Due: none

chore: refactor migration
  docs/architecture/decisions/003-protocol-abstraction.md
Due: none

[refactor] flext-api: Wave 2.1 JSON cleanup - replace json.loads/dumps/load with Pydantic TypeAdapter
  src/flext_api/client.py
  src/flext_api/schemas/asyncapi.py
  src/flext_api/schemas/jsonschema.py
  src/flext_api/schemas/openapi.py
  src/flext_api/settings_manager.py
  src/flext_api/storage.py
  src/flext_api/webhook.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore: refactor migration
  src/flext_api/schemas/asyncapi.py
  src/flext_api/schemas/openapi.py
  src/flext_api/utilities.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  54f53bcafc6330a13e608b8c41509438b8ae32fa
Due: none

chore: refactor migration
  src/flext_api/storage.py
  src/flext_api/webhook.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  49cbbca2e9e90e532960e0044ae14d2f08ffb18d
Due: none

[refactor] flext-api: convert MessagePack.unpackb to r[T] (failure semantics)
  src/flext_api/serializers.py
  tests/unit/test_serializers.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

test: fix validation error message assertion in test_serializers.py
  tests/unit/test_serializers.py
Due: ruff-format, ruff-lint, isort, mypy

refactor(flext-api): migrate Field() to Annotated pattern
  src/flext_api/models.py
  src/flext_api/protocol_impls/http.py
  src/flext_api/protocol_impls/http_client.py
  src/flext_api/protocol_impls/rfc.py
  src/flext_api/protocol_impls/sse.py
  src/flext_api/protocol_impls/websocket.py
  src/flext_api/schemas/asyncapi.py
  src/flext_api/schemas/openapi.py
  src/flext_api/settings.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore: refactor migration
  docs/api/protocols.md
  docs/architecture/c4-model/code.md
  docs/architecture/c4-model/components.md
  docs/architecture/c4-model/containers.md
  docs/architecture/decisions/003-protocol-abstraction.md
  docs/architecture/overview.md
  src/flext_api/adapters.py
  src/flext_api/lifecycle_manager.py
  src/flext_api/protocol_impls/http_client.py
  src/flext_api/protocol_impls/logger.py
  src/flext_api/protocol_impls/storage_backend.py
  src/flext_api/protocols.py
  src/flext_api/server.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  6f1b5c8cbe1c593f22a411bb3ee1051826e67caf
Due: none

Notes added by 'git notes add'
  eff06889b6e33602ffb63ef5fdd82ccb981ecced
Due: none

chore: refactor migration
  src/flext_api/adapters.py
  src/flext_api/protocol_impls/http.py
  src/flext_api/protocol_impls/http_client.py
  src/flext_api/protocol_impls/rfc.py
  src/flext_api/protocol_impls/sse.py
  src/flext_api/protocol_impls/websocket.py
  src/flext_api/transports.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

[fix] flext-api: fix all 54 pyrefly errors - strict typing (Wave 1.2 cleanup)
  src/flext_api/adapters.py
  src/flext_api/api.py
  src/flext_api/client.py
  src/flext_api/plugins.py
  src/flext_api/protocol_impls/http.py
  src/flext_api/protocol_impls/http_client.py
  src/flext_api/protocol_impls/logger.py
  src/flext_api/protocol_impls/rfc.py
  src/flext_api/protocol_impls/sse.py
  src/flext_api/protocol_impls/websocket.py
  src/flext_api/schemas/asyncapi.py
  src/flext_api/schemas/jsonschema.py
  src/flext_api/server.py
  src/flext_api/storage.py
  src/flext_api/transports.py
Due: ruff-format, ruff-lint, isort, mypy, bandit
