Repository flext-sh/flext-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, isort, mypy, bandit

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: tests/

chore: refactor migration
  pyproject.toml
  src/flext_api/models.py
  src/flext_api/protocol_impls/http.py
  src/flext_api/protocol_impls/http_client.py
  src/flext_api/protocol_impls/rfc.py
  src/flext_api/protocol_impls/sse.py
  src/flext_api/protocol_impls/websocket.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  7f/699d92ec533452876025d0d34ac4d108f17450
Due: none

chore: refactor migration
  poetry.lock
Due: none

Notes added by 'git notes add'
  28/91762690acfbbc160b94fff987acfb4222c431
Due: none

chore: refactor migration
  docs/pydantic-v2-modernization/audit_pydantic_v2.py
  tests/__init__.py
  tests/constants.py
  tests/models.py
  tests/protocols.py
  tests/typings.py
  tests/utilities.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  f9/c98874aa908635e7b00725092306b7fcf3b572
Due: none

chore: refactor migration
  docs/api/core.md
  docs/api/middleware.md
  docs/api/protocols.md
  docs/api/schemas.md
  docs/architecture/c4-model/code.md
  docs/architecture/c4-model/containers.md
  docs/architecture/c4-model/context.md
  docs/architecture/decisions/002-railway-pattern.md
  docs/architecture/decisions/003-protocol-abstraction.md
  docs/architecture/decisions/README.md
  docs/architecture/decisions/adr-template.md
  docs/architecture/overview.md
  docs/guides/development.md
  docs/guides/http-client.md
  docs/guides/testing.md
  docs/guides/troubleshooting.md
  docs/testing.md
  examples/01_basic_usage.py
  poetry.lock
  src/flext_api/adapters.py
  src/flext_api/api.py
  src/flext_api/constants.py
  src/flext_api/models.py
  src/flext_api/protocol_impls/websocket.py
  src/flext_api/schemas/_shared.py
  src/flext_api/schemas/asyncapi.py
  src/flext_api/schemas/jsonschema.py
  src/flext_api/schemas/openapi.py
  src/flext_api/serializers.py
  src/flext_api/storage.py
  src/flext_api/utilities.py
  src/flext_api/webhook.py
  tests/unit/test_serializers.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore: refactor migration
  src/flext_api/__init__.py
  src/flext_api/models.py
  src/flext_api/protocol_impls/__init__.py
  src/flext_api/protocol_impls/websocket.py
  src/flext_api/schemas/__init__.py
  src/flext_api/storage.py
  tests/__init__.py
  tests/unit/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  9d/77a61f2e3876c23251a3284da751f27630bb07
Due: none

chore: refactor migration
  tests/__init__.py
  tests/unit/__init__.py
Due: ruff-format, ruff-lint, isort, mypy

Notes added by 'git notes add'
  0c/a793d95b6723634b3a2f32d3108b4b37713175
Due: none

Notes added by 'git notes add'
  f9/bb214740e2cef9eb3d6aac7df1bb6c51c55f3b
Due: none

chore: refactor migration
  docs/api/protocols.md
  docs/api/schemas.md
  src/flext_api/adapters.py
  src/flext_api/api.py
  src/flext_api/app.py
  src/flext_api/client.py
  src/flext_api/protocol_impls/http.py
  src/flext_api/protocol_impls/rfc.py
  src/flext_api/protocol_impls/sse.py
  src/flext_api/protocol_impls/websocket.py
  src/flext_api/schemas/_shared.py
  src/flext_api/schemas/asyncapi.py
  src/flext_api/schemas/jsonschema.py
  src/flext_api/schemas/openapi.py
  src/flext_api/server_factory.py
  src/flext_api/settings.py
  tests/unit/test_serializers.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore: refactor migration
  pyproject.toml
  src/flext_api/__init__.py
  src/flext_api/protocol_impls/__init__.py
  src/flext_api/schemas/__init__.py
  tests/__init__.py
  tests/unit/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  24/5e09b2ab8c3cd963235812a77cf13efeac8337
Due: none

Notes added by 'git notes add'
  a6/c8c37467f7c399b378913d22cf0fab40226c0f
Due: none

chore: refactor migration
  src/flext_api/__init__.py
  src/flext_api/protocol_impls/__init__.py
  src/flext_api/schemas/__init__.py
  tests/__init__.py
  tests/unit/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  a8/7937d15ece9ed65ab46e2a54878f075ded3653
Due: none

chore: refactor migration
  src/flext_api/schemas/asyncapi.py
  src/flext_api/schemas/openapi.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore: refactor migration
  docs/api/core.md
  docs/api/middleware.md
  docs/api/protocols.md
  docs/architecture/overview.md
  docs/guides/development.md
  docs/guides/http-client.md
  docs/guides/testing.md
  docs/guides/troubleshooting.md
  docs/pydantic-v2-modernization/audit_pydantic_v2.py
  examples/01_basic_usage.py
  src/flext_api/__version__.py
  src/flext_api/adapters.py
  src/flext_api/api.py
  src/flext_api/client.py
  src/flext_api/middleware.py
  src/flext_api/models.py
  src/flext_api/plugins.py
  src/flext_api/protocol_impls/base.py
  src/flext_api/protocol_impls/http.py
  src/flext_api/protocol_impls/logger.py
  src/flext_api/protocol_impls/rfc.py
  src/flext_api/protocol_impls/sse.py
  src/flext_api/protocol_impls/storage_backend.py
  src/flext_api/protocol_impls/websocket.py
  src/flext_api/protocols.py
  src/flext_api/registry.py
  src/flext_api/schemas/_shared.py
  src/flext_api/schemas/asyncapi.py
  src/flext_api/schemas/jsonschema.py
  src/flext_api/schemas/openapi.py
  src/flext_api/serializers.py
  src/flext_api/server.py
  src/flext_api/settings.py
  src/flext_api/settings_manager.py
  src/flext_api/storage.py
  src/flext_api/typings.py
  src/flext_api/utilities.py
  src/flext_api/webhook.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  2b/7acd427cc5d7c37f4f56081356e7bba4c1ee4d
Due: none

chore: refactor migration
  docs/pydantic-v2-modernization/audit_pydantic_v2.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  95/9054da84e7c642f178f087b32b69b6d1165a0d
Due: none

Notes added by 'git notes add'
  e7/1d843a6d283c8c0e788f2e1de4ea20113e850b
Due: none

chore: refactor migration
  Makefile
  src/flext_api/__init__.py
  src/flext_api/protocol_impls/__init__.py
  src/flext_api/schemas/__init__.py
  tests/__init__.py
  tests/unit/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

incremental make
  Makefile
Due: none

Notes added by 'git notes add'
  4f/1686e8c0528d6d28c5bf2230b7717f2b48b5cc
Due: none

chore: refactor migration
  docs/CHANGELOG.md
  docs/README.md
  docs/api/core.md
  docs/api/middleware.md
  docs/api/protocols.md
  docs/api/schemas.md
  docs/api/storage.md
  docs/architecture/README.md
  docs/architecture/c4-model/code.md
  docs/architecture/c4-model/components.md
  docs/architecture/c4-model/containers.md
  docs/architecture/c4-model/context.md
  docs/architecture/decisions/001-flext-core-dependency.md
  docs/architecture/decisions/002-railway-pattern.md
  docs/architecture/decisions/003-protocol-abstraction.md
  docs/architecture/decisions/README.md
  docs/architecture/decisions/adr-template.md
  docs/architecture/overview.md
  docs/guides/README.md
  docs/guides/configuration.md
  docs/guides/development.md
  docs/guides/getting-started.md
  docs/guides/http-client.md
  docs/guides/implementation_status.md
  docs/guides/phase1_implementation_plan.md
  docs/guides/security.md
  docs/guides/skill-automation-pattern.md
  docs/guides/testing.md
  docs/guides/troubleshooting.md
  docs/overview.md
  docs/releases/latest.md
  docs/roadmap/index.md
  docs/testing.md
  src/flext_api/schemas/jsonschema.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  7b/cc7b9749b8dba856e30bd6c3c6665410d5c388
Due: none

fix(260323-qh4): suppress SLF001 for internal model access within package
  src/flext_api/protocol_impls/http.py
  src/flext_api/protocol_impls/http_client.py
  src/flext_api/protocol_impls/rfc.py
  src/flext_api/protocol_impls/sse.py
  src/flext_api/protocol_impls/websocket.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  29/456d89d74fbee43e8721e13592a4a87afb4609
Due: none

chore(quick-260323-ri1): add vulture whitelist and pyproject.toml config
  pyproject.toml
  src/flext_api/protocol_impls/http.py
  src/flext_api/protocol_impls/http_client.py
  src/flext_api/protocol_impls/rfc.py
  src/flext_api/protocol_impls/sse.py
  src/flext_api/protocol_impls/websocket.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  1a/c56ac24c051088c77aba7b7651e1bb7fc0a222
Due: none

docs(test-simplify): Phase 3 summary
  src/flext_api/__version__.py
  src/flext_api/api.py
  src/flext_api/client.py
  src/flext_api/plugins.py
  src/flext_api/protocol_impls/base.py
  src/flext_api/registry.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  b9/f3a98bed3572e9177c8400f6e444611508563c
Due: none

Notes added by 'git notes add'
  5f/66379173bc3492831ce9e1e2e36c853c17386c
Due: none

chore: refactor migration
  src/flext_api/plugins.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

Notes added by 'git notes add'
  57/e6bfe4c49ffad22cf9359b543fd75f03061338
Due: none

fix(flext-core): fix guard return types, test truthiness bugs, ast-grep dedup
  src/flext_api/client.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

refactor(flext-core): apply t.ContainerMapping and t.ConfigurationMapping via ast-grep
  tests/unit/test_serializers.py
  tests/unit/test_smoke.py
Due: ruff-format, ruff-lint, isort, mypy
