Repository flext-sh/flext-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, isort, mypy, bandit

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: tests/

chore(gen): regenerate against the integrated flext-infra
  .github/workflows/ci.yml
  pyproject.toml
Due: none

chore(gen): regenerate against flext-infra a00c87739
  .github/workflows/docs.yml
Due: none

fixes
  pyproject.toml
Due: none

fixes
  .github/workflows/docs.yml
  bin/mise
  examples/__init__.py
  src/flext_api/__init__.py
  tests/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fixes
  .github/workflows/docs.yml
Due: none

fixes
  examples/__init__.py
  src/flext_api/__init__.py
  tests/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore(gen): render standalone-mode projections for CI fixed point
  .gitignore
  .sonarcloud.properties
  examples/__init__.py
  src/flext_api/__init__.py
  tests/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

[WIP] fix(lazy-init): publish facade letters only from facade parents (flext-w2iw4)
  .gitignore
  .sonarcloud.properties
  examples/__init__.py
  src/flext_api/__init__.py
  tests/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

[WIP] chore(gen): project the phase-1 wave generator (flext-itpd1.3)
  .envrc
  Makefile
  examples/__init__.py
  src/flext_api/__init__.py
  tests/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore(gen): absorb stale projections left by the pre-cure generator
  examples/__init__.py
  src/flext_api/__init__.py
  tests/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore(gen): rope cure regen — codemod canonical facades and letters
  .envrc
  Makefile
  README.md
  docs/api-reference/README.md
  docs/api-reference/generated/overview.md
  src/flext_api/__init__.py
  src/flext_api/_models/storage.py
  src/flext_api/_models/webhook.py
  src/flext_api/_utilities/transport.py
  src/flext_api/constants.py
  src/flext_api/models.py
  src/flext_api/protocols.py
  src/flext_api/utilities.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fix(models): restore nested Storage/Webhook/Httpx domain namespaces
  VALIDATION.md
  src/flext_api/_models/storage.py
  src/flext_api/_models/webhook.py
  src/flext_api/_utilities/transport.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

chore(gen): regenerate member runtime projections on the V8 integration tips
  .envrc
  .github/workflows/ci-matrix.yml
  .github/workflows/ci.yml
  .gitignore
  .mise.toml
  .mise/locks/npm-prettier/3.5.3/aube-lock.yaml
  .mise/locks/npm-prettier/3.5.3/package.json
  .pre-commit-config.yaml
  .sonarcloud.properties
  Makefile
  bin/mise
  bin/mise.cmd
  mise.lock
  mise.version
  pyproject.toml
  tests/fixtures/ci/docker/alpine.Dockerfile
  tests/fixtures/ci/docker/arch.Dockerfile
  tests/fixtures/ci/docker/debian.Dockerfile
  tests/fixtures/ci/docker/fedora.Dockerfile
  tests/fixtures/ci/docker/ubuntu.Dockerfile
  uv.lock
Due: none

[WIP] preserve abandoned httpx namespace-flatten slice from lane p0-integrate (flext-itpd1.3.10)
  examples/01_basic_usage.py
  src/flext_api/_models/storage.py
  src/flext_api/_models/webhook.py
  src/flext_api/_typings/transport.py
  src/flext_api/_utilities/transport.py
  tests/unit/test_utilities_transport.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

refactor(api): complete the Httpx family flatten for annotation consumers
  src/flext_api/_typings/transport.py
  src/flext_api/_utilities/transport.py
  tests/unit/test_utilities_transport.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

docs(agents): render the concrete raw parent URL in the standalone mode header
  AGENTS.md
Due: none

chore(gen): consume the relock projections (mise 96527ca3 era)
  .beads/config.yaml
  .envrc
  .github/scripts/validate-git-hook.sh
  .github/workflows/ci-matrix.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .gitignore
  .markdownlint.json
  .markdownlintignore
  .mise.toml
  .prettierignore
  .prettierrc
  .sonarcloud.properties
  .vscode/settings.json
  Makefile
  bin/mise
  bin/mise.cmd
  docs/docs_config.json
  docs/guides/make-commands.md
  docs/guides/testing.md
  docs/guides/using-flext-tests.md
  mise.version
  pyproject.toml
  tests/fixtures/ci/docker/alpine.Dockerfile
  tests/fixtures/ci/docker/arch.Dockerfile
  tests/fixtures/ci/docker/debian.Dockerfile
  tests/fixtures/ci/docker/fedora.Dockerfile
  tests/fixtures/ci/docker/ubuntu.Dockerfile
Due: none

wip
  bin/mise.cmd
Due: none

fmt
  .beads/config.yaml
  .envrc
  .github/scripts/validate-git-hook.sh
  .github/workflows/ci-matrix.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .gitignore
  .markdownlint.json
  .markdownlintignore
  .mise.toml
  .mise/locks/npm-ast-grep-cli/0.45.3~7a027ead/aube-lock.yaml
  .mise/locks/npm-ast-grep-cli/0.45.3~7a027ead/package.json
  .prettierignore
  .prettierrc
  .sonarcloud.properties
  .vscode/settings.json
  Makefile
  bin/mise
  bin/mise.cmd
  docs/docs_config.json
  mise.lock
  mise.version
  mkdocs.yml
  pyproject.toml
  tests/fixtures/ci/docker/alpine.Dockerfile
  tests/fixtures/ci/docker/arch.Dockerfile
  tests/fixtures/ci/docker/debian.Dockerfile
  tests/fixtures/ci/docker/fedora.Dockerfile
  tests/fixtures/ci/docker/ubuntu.Dockerfile
Due: none

ajustes
  bin/mise
Due: none

fmt-fixes
  bin/mise
  bin/mise.cmd
  mise.version
Due: none

fmt-fixes
  .agents/skills/flext-development/SKILL.md
  .claude/commands/add-language-rules.md
  .claude/commands/feature-development.md
  .claude/skills/flext-development/SKILL.md
  .cursor/skills/flext-development/SKILL.md
  .gemini/skills/flext-development/SKILL.md
  .github/skills/flext-development/SKILL.md
  .opencode/commands/add-language-rules.md
  .opencode/commands/feature-development.md
  .opencode/skills/flext-development/SKILL.md
Due: none

build(deps): relock so the committed lock matches the raised pydantic-settings bound
  uv.lock
Due: none

fix(api): consume NUMERIC_TYPES from its constants owner + relock to the current tips
  .github/workflows/ci.yml
  .gitignore
  .mise.toml
  .mise/locks/npm-ast-grep-cli/0.45.3~7a027ead/aube-lock.yaml
  .mise/locks/npm-ast-grep-cli/0.45.3~7a027ead/package.json
  Makefile
  mise.lock
  mkdocs.yml
  pyproject.toml
  src/flext_api/_protocols/_transports_config.py
  uv.lock
Due: ruff-format, ruff-lint, isort, mypy, bandit

build(deps): relock the pydantic-settings <2.16 bump onto the current tips
  mise.lock
  mise.version
  pyproject.toml
Due: none

build(deps): align uv.lock with the pydantic-settings <2.16 pyproject bound
  uv.lock
Due: none

docs: restore admin identifiers corrupted by the secret-redaction pass
  docs/architecture/c4-model/context.md
  docs/architecture/diagrams/system-landscape.puml
Due: none

refactor(api): declare public TypeAdapter codemod
  config/rules/mod/sed.yaml
Due: none

refactor(api): codemod public result and httpx contracts
  config/rules/mod/sed.yaml
  src/flext_api/_utilities/settings_manager.py
  src/flext_api/api.py
  src/flext_api/services/base_client.py
  tests/unit/test_transports_facade_httpx.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

refactor(api): keep transport port annotations type-only
  config/rules/mod/sed.yaml
  src/flext_api/_protocols/_transports_config.py
  src/flext_api/_protocols/transports.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

refactor(api): inherit published test service base
  config/rules/mod/sed.yaml
  tests/base.py
Due: ruff-format, ruff-lint, isort, mypy

fix(ci): resolve leftover conflict markers in candidate cleanliness step (take tip variant)
  .github/workflows/ci.yml
Due: none

fix(merge): resolve leftover conflict markers (bin/mise, bin/mise.cmd, validate-git-hook.sh take tip; Makefile keeps branch relock machinery)
  .github/scripts/validate-git-hook.sh
  Makefile
  bin/mise
  bin/mise.cmd
Due: none

fix(api): cure the no-self-use family in the codemod-migrated services and tests
  examples/README.md
  examples/basic_usage.py
  src/flext_api/_models/client.py
  src/flext_api/_models/storage.py
  src/flext_api/_models/webhook.py
  src/flext_api/_protocols/plugin_types.py
  src/flext_api/_settings.py
  src/flext_api/_utilities/request_utils.py
  src/flext_api/_utilities/serializers.py
  src/flext_api/_utilities/transport.py
  src/flext_api/models.py
  src/flext_api/services/_services/base_request.py
  src/flext_api/services/async_client.py
  src/flext_api/services/client.py
  src/flext_api/typings.py
  src/flext_api/utilities.py
  tests/unit/model_contract.py
  tests/unit/test_async_client.py
  tests/unit/test_serializers.py
  tests/unit/test_smoke.py
  tests/unit/test_transports_characterization.py
  tests/unit/test_transports_facade_httpx.py
  tests/unit/test_utilities_transport.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fix(api): cure the no-self-use family in the codemod-migrated services and tests
  examples/__init__.py
  src/flext_api/__init__.py
  tests/unit/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit

fix(api): restore generator output for lazy-init init files (gen fixed point)
  examples/__init__.py
  src/flext_api/__init__.py
  tests/unit/__init__.py
Due: ruff-format, ruff-lint, isort, mypy, bandit
